{% extends 'base.html' %} 
{% block title %}إنشاء ملف تعريفي {% endblock %}
{%block content%}
{% if request.user.is_authenticated %}
<section class="py-24 relative">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div
      class="w-full flex-col justify-start items-start lg:gap-14 md:gap-10 gap-8 inline-flex"
    >
      <div class="w-full flex-col justify-center items-center gap-4 flex">
        <h2
          class="text-center text-gray-900 text-4xl font-bold font-manrope leading-normal"
        >
          إنشاء ملف تعريفي
        </h2>
        <p
          class="max-w-4xl text-center text-gray-500 text-base font-normal leading-relaxed"
        >
          أكمل ملفك التعريفي لكي تستطيع التسجل في البرامج الأندية
        </p>
      </div>
      {% if messages %} 
        {% for message in messages %}
          <div class="flex items-center w-full max-w-sm py-5 px-6 text-gray-600 bg-white rounded-xl border border-gray-200 shadow-sm mb-6" id="alert">
          <p class="text-base font-medium"> {{message}} </p>
          <div class="ml-auto flex items-center space-x-3">
          <button type="button" class="inline-flex flex-shrink-0 justify-center items-center text-gray-400 transition-all duration-150 " data-dismiss-target="#alert">
            <span class="sr-only">Close</span>
            <svg class="w-6 h-6 " viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 17L17 7M17 17L7 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          </div>
          </div>
          {% endfor %}{%endif%}
      <div class="w-full flex-col justify-start items-start gap-6 flex">
          <form  action="{%url 'account:create_profile_view' user.username %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}"
          method="POST"
                      enctype="multipart/form-data"
                      class="lg:p-11 p-7 mx-auto">
                      {% csrf_token %}
        <h4 class="text-gray-900 text-xl font-semibold leading-loose">
          المعلومات الشخصية
        </h4>
        <div class="w-full flex-col justify-start items-start gap-8 flex">
                    
                    <div
                      class="w-full justify-start items-start gap-8 flex sm:flex-row flex-col"
                    >
                      <div class="w-full flex-col justify-start items-start gap-1.5 flex">
                        <label
                          for="name"
                          class="flex gap-1 items-center text-gray-600 text-base font-medium leading-relaxed"
                          >الأسم الثلاثي
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="7"
                            height="7"
                            viewBox="0 0 7 7"
                            fill="none"
                          >
                            <path
                              d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                              fill="#EF4444"
                            />
                          </svg>
                        </label>
                        <input
                          id="name"
                          type="text"
                          name="name"
                          class="w-full focus:outline-none text-gray-900 placeholder-gray-400 text-lg font-normal leading-relaxed px-5 py-3 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-gray-200 justify-start items-center gap-2 inline-flex"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div
                      class="w-full justify-start items-start gap-8 flex sm:flex-row flex-col"
                    >
                      <div class="w-full flex-col justify-start items-start gap-1.5 flex">
                        <label
                          for="id_number"
                          class="flex gap-1 items-center text-gray-600 text-base font-medium leading-relaxed"
                          >رقم الهوية
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="7"
                            height="7"
                            viewBox="0 0 7 7"
                            fill="none"
                          >
                            <path
                              d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                              fill="#EF4444"
                            />
                          </svg>
                        </label>
                        <input
                          id="id_number"
                          type="text"
                          name="id_number"
                          class="w-full focus:outline-none text-gray-900 placeholder-gray-400 text-lg font-normal leading-relaxed px-5 py-3 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-gray-200 justify-start items-center gap-2 inline-flex"
                          placeholder=""
                          required
                        />
                      </div>
                      <div class="w-full flex-col justify-start items-start gap-1.5 flex">
                        <label
                          for="birth_date"
                          class="flex gap-1 items-center text-gray-600 text-base font-medium leading-relaxed"
                          >تاريخ الميلاد
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="7"
                            height="7"
                            viewBox="0 0 7 7"
                            fill="none"
                          >
                            <path
                              d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                              fill="#EF4444"
                            />
                          </svg>
                        </label>
                        <input
                          id="birth_date"
                          type="date"
                          name="birth_date"
                          class="w-full focus:outline-none text-gray-900 placeholder-gray-400 text-lg font-normal leading-relaxed px-5 py-3 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-gray-200 justify-start items-center gap-2 inline-flex"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div
                      class="w-full justify-around items-start gap-8 flex sm:flex-row flex-col"
                    >
                      <div class="mb-6">
                        <label
                          for="nationality"
                          class="flex gap-1 items-center text-gray-600 text-base font-medium leading-relaxed"
                          >الجنسية
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="7"
                            height="7"
                            viewBox="0 0 7 7"
                            fill="none"
                          >
                            <path
                              d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                              fill="#EF4444"
                            />
                          </svg>
                        </label>
                        <select
                          id="nationality"
                          name="nationality"
                          required
                          class="w-full h-12 text-gray-900 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4"
                          required
                        >
                          <option value="">اختر الجنسية</option>
                          {% for value, label in UserProfile.Nationality.choices %}
                          <option value="{{ value }}">{{ label }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mb-6">
                        <label
                          class="flex gap-1 items-center text-gray-600 text-base font-medium leading-relaxed"
                          >الجنس
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="7"
                            height="7"
                            viewBox="0 0 7 7"
                            fill="none"
                          >
                            <path
                              d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                              fill="#EF4444"
                            />
                          </svg>
                        </label>
                        <div class="flex">
                          {% for value, label in UserProfile.Gender.choices %}
                          <div class="mr-4">
                            <input
                              type="radio"
                              id="gender_{{ value }}"
                              name="gender"
                              value="{{ value }}"
                              required
                              class="form-radio h-5 w-5 text-indigo-600"
                              required
                            />
                            <label for="gender_{{ value }}" class="ml-2 text-gray-700"
                              >{{ label }}</label
                            >
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div
                      class="w-full justify-start items-start gap-8 flex sm:flex-row flex-col"
                    >
                      <div class="w-full flex-col justify-start items-start gap-1.5 flex">
                        <label
                          for="health_condition"
                          class="flex gap-1 items-center text-gray-600 text-base font-medium leading-relaxed"
                          >هل تعاني من امراض صحية
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="7"
                            height="7"
                            viewBox="0 0 7 7"
                            fill="none"
                          >
                            <path
                              d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                              fill="#EF4444"
                            />
                          </svg>
                        </label>
                        <textarea
                          id="health_condition"
                          type="text"
                          name="health_condition"
                          class="w-full focus:outline-none text-gray-900 placeholder-gray-400 text-lg font-normal leading-relaxed px-5 py-3 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-gray-200 justify-start items-center gap-2 inline-flex"
                          placeholder=""
                        >
                        </textarea>
                      </div>
                    </div>
                  </div>
                  <div class="w-full flex-col justify-start items-start gap-2.5 flex">
                    أرفق صورة شخصية
                    <label
                      for="avatar"
                      class="flex flex-col items-center justify-center py-9 w-full border border-gray-300 border-dashed rounded-2xl cursor-pointer bg-gray-50"
                    >
                      <div class="mb-3 flex items-center justify-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="40"
                          height="40"
                          viewBox="0 0 40 40"
                          fill="none"
                        >
                          <g id="Upload 02">
                            <path
                              id="icon"
                              d="M16.296 25.3935L19.9997 21.6667L23.7034 25.3935M19.9997 35V21.759M10.7404 27.3611H9.855C6.253 27.3611 3.33301 24.4411 3.33301 20.8391C3.33301 17.2371 6.253 14.3171 9.855 14.3171V14.3171C10.344 14.3171 10.736 13.9195 10.7816 13.4326C11.2243 8.70174 15.1824 5 19.9997 5C25.1134 5 29.2589 9.1714 29.2589 14.3171H30.1444C33.7463 14.3171 36.6663 17.2371 36.6663 20.8391C36.6663 24.4411 33.7463 27.3611 30.1444 27.3611H29.2589"
                              stroke="#4F46E5"
                              stroke-width="1.6"
                              stroke-linecap="round"
                            />
                          </g>
                        </svg>
                      </div>
                      <span
                        class="text-center text-gray-400 text-xs font-normal leading-4 mb-1"
                        >PNG, JPG or PDF, smaller than 15MB</span
                      >
                      <h6 class="text-center text-gray-900 text-sm font-medium leading-5">
                        Drag and Drop your file here or
                      </h6>
                      <input id="avatar" name="avatar" type="file" class="hidden" />
                    </label>
                  </div>
                  <button
                    type="submit"
                    class="mx-auto sm:w-fit w-full px-9 py-3 bg-indigo-600 hover:bg-indigo-700 ease-in-out transition-all duration-700 rounded-xl shadow justify-center items-center flex"
                  >
                    <span
                      class="px-3.5 text-center text-white text-lg font-semibold leading-8"
                      >حفظ</span
                    >
                  </button>
                </form>
                </div>
            </div>
        </div>
</section>
{%endif%}
{% endblock %}
