{% extends 'base.html' %}

{% block title %} تسجيل الدخول {% endblock %}

{% block content %}
<section class="bg-gradient-to-br from-orange-50 to-white bg-white">
  <div>
        <div class="min-h-screen flex flex-col items-center justify-center">
          <div class="grid md:grid-cols-2 items-center gap-4 bg-gray-100  max-md:gap-8 max-w-6xl max-md:max-w-lg w-full p-4 m-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md">
            <div class="md:max-w-md w-full px-4 py-4">
                <div class="mb-12">
                  <h3 class="text-gray-800 text-3xl font-extrabold">تسجيل الدخول</h3>
                  <p class="text-sm mt-4 text-gray-800"> ما عندك حساب سجل الان؟ <a href="{% url 'account:sign_up' %}" class="text-[#ED786A] font-bold hover:text-[#f05e4e] hover:underline ml-1 whitespace-nowrap">سجل من هنا</a></p>
                </div>
                <form  action="{%url 'account:log_in'%}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}"
                method="POST"
                class="">
                {% csrf_token %}
                  <div>
                  <label class="text-gray-800 text-lg block mb-2">إسم المستخدم</label>
                  <div class="relative flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute left-2" viewBox="0 0 682.667 682.667">
                    <defs>
                      <clipPath id="a" clipPathUnits="userSpaceOnUse">
                        <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                      </clipPath>
                    </defs>
                    <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                      <path fill="none" stroke-miterlimit="10" stroke-width="40" d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z" data-original="#000000"></path>
                      <path d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z" data-original="#000000"></path>
                    </g>
                  </svg>
                    <input name="username" type="text" required class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-sm font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="أدخل إسم الستخدم" />
                  </div>
                </div>
              <div class="mt-8">
                <label class="text-gray-800 text-lg block mb-2">كلمة المرور</label>
                <div class="relative flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-[20px] h-[20px] absolute left-2" height="24px" viewBox="0 -960 960 960" width="24px" fill="#B7B7B7"><path d="M420-680q0-33 23.5-56.5T500-760q33 0 56.5 23.5T580-680q0 33-23.5 56.5T500-600q-33 0-56.5-23.5T420-680ZM500 0 320-180l60-80-60-80 60-85v-47q-54-32-87-86.5T260-680q0-100 70-170t170-70q100 0 170 70t70 170q0 67-33 121.5T620-472v352L500 0ZM340-680q0 56 34 98.5t86 56.5v125l-41 58 61 82-55 71 75 75 40-40v-371q52-14 86-56.5t34-98.5q0-66-47-113t-113-47q-66 0-113 47t-47 113Z"/></svg>
                  <input name="password" type="password" required class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-sm font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="أدخل كلمة المرور" />
                </div>
              </div>

              <div class="flex flex-wrap items-center justify-between gap-4 mt-6">
                <div class="flex items-center">
                </div>
                <div>
                  <a href="{% url 'password_reset' %}" class="text-[#ED786A] font-bold hover:text-[#f05e4e] text-sm hover:underline">
                    نسيت كلمة المرور؟
                  </a>
                </div>
              </div>

              <div class="mt-12">
              <button type="submit" class="w-full shadow-xl py-2.5 px-4 text-sm tracking-wide rounded-md text-white bg-[#ED786A] font-bold hover:bg-[#f05e4e] focus:outline-none">
                  سجل دخول
                </button>
              </div>
              </form>
                
                <hr>
                <div class="space-x-6 flex justify-center mt-6">
                  <button type="button"
                    class="border-none outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32px" class="inline" viewBox="0 0 512 512">
                      <path fill="#fbbd00"
                        d="M120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308H52.823C18.568 144.703 0 198.922 0 256s18.568 111.297 52.823 155.785h86.308v-86.308C126.989 305.13 120 281.367 120 256z"
                        data-original="#fbbd00" />
                      <path fill="#0f9d58"
                        d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216C305.044 385.147 281.181 392 256 392z"
                        data-original="#0f9d58" />
                      <path fill="#31aa52"
                        d="m139.131 325.477-86.308 86.308a260.085 260.085 0 0 0 22.158 25.235C123.333 485.371 187.62 512 256 512V392c-49.624 0-93.117-26.72-116.869-66.523z"
                        data-original="#31aa52" />
                      <path fill="#3c79e6"
                        d="M512 256a258.24 258.24 0 0 0-4.192-46.377l-2.251-12.299H256v120h121.452a135.385 135.385 0 0 1-51.884 55.638l86.216 86.216a260.085 260.085 0 0 0 25.235-22.158C485.371 388.667 512 324.38 512 256z"
                        data-original="#3c79e6" />
                      <path fill="#cf2d48"
                        d="m352.167 159.833 10.606 10.606 84.853-84.852-10.606-10.606C388.668 26.629 324.381 0 256 0l-60 60 60 60c36.326 0 70.479 14.146 96.167 39.833z"
                        data-original="#cf2d48" />
                      <path fill="#eb4132"
                        d="M256 120V0C187.62 0 123.333 26.629 74.98 74.98a259.849 259.849 0 0 0-22.158 25.235l86.308 86.308C162.883 146.72 206.376 120 256 120z"
                        data-original="#eb4132" />
                    </svg>
                  </button>
                </div>
              </form>
            </div>
  
            <div class="md:h-full bg-[#000842] rounded-xl lg:p-12 p-8">
              <img src="https://readymadeui.com/signin-image.webp" class="w-full h-full object-contain" alt="login-image" />
            </div>
          </div>
        </div>
  </div>
</section>
{% endblock %}
