{% extends 'base.html' %}

{% block title %}  تغيير كلمة المرور {% endblock %}

{% block content %}
<section class="min-h-screen flex flex-col items-center justify-center w-full h-full bg-gradient-to-br from-orange-50 to-white bg-white">
    <div class="mx-auto max-w-lg px-6 lg:px-8 absolute py-20">
         {% if validlink%}
    <div class="rounded-2xl bg-white shadow-xl">
            <form  
                method="POST"
                class="lg:p-11 p-7 mx-auto">
                {% csrf_token %}
              <div class="mb-11">
                <h1
                  class="text-gray-900 text-center font-manrope text-3xl font-bold leading-10 mb-2"
                >
                إعادة تعيين كلمة المرور الخاصة بك
            </h1>
                <p
                  class="text-gray-500 text-center text-base font-medium leading-6"
                >
                </p>
                {{ form.new_password1.errors }}
            <div>
                <label for="id_new_password1" class="block text-lg font-medium text-gray-700">كلمة المرور الجديدة</label>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="أكتب كلمة المرور الجديدة "
                       class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-sm font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1">
            </div>
            {{ form.new_password2.errors }}
            <div>
                <label for="id_new_password2" class="block text-lg font-medium text-gray-700">أعد كتابة كلمة المرور</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="أعد كتابة كلمة المرور"
                       class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-sm font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1">
            </div>
              </div>
             
              <button
                type="submit"
                class="w-full h-12 text-white text-center text-base f leading-6 rounded-full  transition-all duration-700 bg-[#ED786A] font-bold hover:bg-[#f05e4e] shadow-sm mb-11"
              >
              حفظ
              </button>
            </form>
          </div>
    {%endif%}
    </div>
</section>
{% endblock %}
