{% extends 'base.html' %}

{% block title %}  تغيير كلمة المرور {% endblock %}

{% block content %}
<section class="min-h-screen flex flex-col items-center justify-center w-full h-full bg-gradient-to-br from-orange-50 to-white bg-white">
  <div class="mx-auto max-w-lg px-6 lg:px-8 absolute py-20">
          <div class="rounded-2xl bg-white w-full p-16 h-full shadow-xl">
            <h1 class="text-gray-900 text-center font-manrope text-3xl font-bold leading-10 mb-2"> تم إرسال إعادة تعيين كلمة المرور</h1>
            <div class="grid place-items-center ">
              <svg xmlns="http://www.w3.org/2000/svg"  class="" height="60px" viewBox="0 -960 960 960" width="60px" fill="#75FB4C"><path d="M638-80 468-250l56-56 114 114 226-226 56 56L638-80ZM480-520l320-200H160l320 200Zm0 80L160-640v400h206l80 80H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v174l-80 80v-174L480-440Zm0 0Zm0-80Zm0 80Z"/></svg>
            </div>
            <p class="text-gray-500 text-center text-base font-medium leading-6">
            </br>لقد أرسلنا إليك عبر البريد الإلكتروني تعليمات لتعيين كلمة المرور الخاصة بك، إذا كان هناك حساب بالبريد الإلكتروني الذي أدخلته. يجب أن تتلقاها قريبًا.
                </p>
                <p class="text-gray-500 text-center text-base pt-6 font-medium leading-6">
                    إذا لم تتلق بريدًا إلكترونيًا، فيرجى التأكد من إدخال عنوان البريد الإلكتروني الذي قمت بالتسجيل به، والتحقق من مجلد البريد العشوائي.
                    </p>
                <a href="{% url 'account:log_in'%}" class="flex justify-center text-[#ED786A] font-bold hover:text-[#f05e4e] hover:underline pl-3 pt-6"> العودة إلى صحفة تسجيل الدخول</a>
          </div>
        </div>
    </section>
{% endblock %}
