{% extends 'base.html' %}

{% block title %}  تغيير كلمة المرور {% endblock %}

{% block content %}
<section class="flex justify-center relative">
  <img
  src="https://pagedone.io/asset/uploads/1702362010.png"
  alt="gradient background image"
  class="w-full h-full object-cover fixed"
  />
  <div class="mx-auto max-w-lg px-6 lg:px-8 absolute py-20">
          <div class="rounded-2xl bg-white w-full p-16 h-full shadow-xl">
            <h1 class="text-gray-900 text-center font-manrope text-3xl font-bold leading-10 mb-2"> تم إرسال إعادة تعيين كلمة المرور</h1>
            <p class="text-gray-500 text-center text-base font-medium leading-6">
            </br>لقد أرسلنا إليك عبر البريد الإلكتروني تعليمات لتعيين كلمة المرور الخاصة بك، إذا كان هناك حساب بالبريد الإلكتروني الذي أدخلته. يجب أن تتلقاها قريبًا.
                </p>
                <p class="text-gray-500 text-center text-base pt-6 font-medium leading-6">
                    إذا لم تتلق بريدًا إلكترونيًا، فيرجى التأكد من إدخال عنوان البريد الإلكتروني الذي قمت بالتسجيل به، والتحقق من مجلد البريد العشوائي.
                    </p>
                <a href="{% url 'account:log_in'%}" class="flex justify-center text-indigo-600 font-semibold pl-3 pt-6"> العودة إلى صحفة تسجيل الدخول</a>
          </div>
        </div>
    </section>
{% endblock %}
