{% extends 'base.html' %}

{% block title %}  تغيير كلمة المرور {% endblock %}

{% block content %}
<section class="min-h-screen flex flex-col items-center justify-center w-full h-full bg-gradient-to-br from-orange-50 to-white bg-white">
  <div class="mx-auto w-full max-w-lg px-6 lg:px-8 absolute py-20">
          <div class="bg-gray-100 rounded-2xl shadow-xl">
            <form  
                method="POST"
                class="lg:p-11 p-7 mx-auto">
                {% csrf_token %}
              <div class="mb-11">
                <h1
                  class="text-gray-900 text-center font-manrope text-3xl font-bold leading-10 mb-2"
                >
          تغيير كملة المرور</h1>
                <p
                  class="text-gray-500 text-center text-base font-medium leading-6"
                >
                </p>
            {{ form.email.errors }}
        <div>
            <label for="id_email" class="block text-sm font-medium text-gray-700">أدخل بريدك الإلكتروني</label>
            <input type="email" name="email" maxlength="254" required id="id_email" placeholder=" أدخل البريد الإلكتروني"
                   class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1">
        </div>
              </div>
             
              <button
                type="submit"
                class="w-full h-12 text-white text-center text-base font-semibold leading-6 rounded-full  transition-all duration-700 bg-[#ED786A] font-bold hover:bg-[#f05e4e] shadow-sm mb-11"
              >
              أرسل
              </button>
            </form>
          </div>
        </div>
    </section>
{% endblock %}
