{% extends 'base.html' %}
{% block content %}
<section class="bg-white pt-16">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 ">اضف الوسائط</h2>
        <form  method="post"  enctype="multipart/form-data" >
        {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="program_name" class="block mb-2 text-sm font-medium text-gray-900">الفديوهات</label>
                    <input name="videos" class="block w-full text-sm placeholder-gray-400  text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 " id="multiple_files" type="file" accept="video/*" multiple>
                </div>
                <div class="sm:col-span-2">
                    <label for="program_name" class="block mb-2 text-sm font-medium text-gray-900">الصور</label>
                    <input name="images" class="block w-full text-sm placeholder-gray-400  text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 " id="multiple_files" type="file" accept="image/*" multiple>
                </div>
                <div class="sm:col-span-2">
                    <label for="program_name" class="block mb-2 text-sm font-medium text-gray-900">الملفات المرفقة</label>
                    {% for image_url in image_urls %}
                    {% if image_url %}
                    <p class="text-gray-400 text-sm">{{image_url}}</p>
                    {% endif %}
                    {% endfor %}
                    {% for video_url in video_urls %}
                    {% if video_url %}
                    <p class="text-gray-400 text-sm">{{video_url}}</p>
                    {% endif %}
                    {% endfor %}

                </div>
                

                <div class="flex max-sm:flex-col md:flex-row w-full">
                <button type="submit"  class="text-white w-full bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">حفظ الوسائط</button>
                {% if not status %}
   
            <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button"
            class="text-white w-full bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">انشاء البرنامج</button>
            


            <div id="popup-modal" tabindex="-1"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow ">
                        <button type="button"
                            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center "
                            data-modal-hide="popup-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 " aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500 ">هل انت متاكد انك تريد انشاء البرنامج <br> <span class="text-sm text-gray-400">عدم ارفاق الوسائط قد يؤثر على اعجاب المشتركين بالبرنامج </span></h3>
                            <a href="{% url 'academy:academy_dashboard_view' request.user.id %}?next={{ request.path }}"> <button data-modal-hide="popup-modal" type="button"
                                class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300  font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                نعم
                            </button> </a>
                            <button data-modal-hide="popup-modal" type="button"
                                class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ">
                                الغاء</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <a href="{% url 'academy:academy_dashboard_view' request.user.id %}" class="w-full">
            <button type="button"  class="text-white w-full bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">انشاء البرنامج</button>
        </a> 
    
        {% endif %}
    </div>
        
        </form>
    </div>
    
  </section>
{% endblock %}