{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl" {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %} class="dark" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <script src="https://kit.fontawesome.com/956e34dfa0.js" crossorigin="anonymous"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    
    <style>
          .my-element {
        margin-right: 1rem; /* Default margin for smaller screens */
     }
     
     /* Styling for medium screens and above */
     @media (min-width: 768px) {
        .my-element {
            margin-right: 16rem;
        }
     }
    </style>
    <title>{% block title %} {% endblock %} </title>
</head>



<body style="font-family: Tajawal;">
    
<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 ">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>
{% if messages %}
{% for message in messages %}
    <div id="toast-{{ message.tag }}" class="flex absolute z-40 items-center w-full max-w-sm py-5 px-6 mt-24 text-gray-600 bg-white rounded-xl border border-gray-200 shadow-sm mb-6 left-2" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 {% if 'error' in message.tags %} text-red-500 bg-red-100 {% elif 'success' in message.tags %} text-green-500 bg-green-100 {% elif 'warning' in message.tags %} text-orange-500 bg-orange-100 {% endif %} rounded-lg">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                {% if 'error' in message.tags %}
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                {% elif 'success' in message.tags %}
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                {% elif 'warning' in message.tags %}
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
                {% endif %}
            </svg>
            <span class="sr-only">{{ message.tags }} icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">{{ message }}</div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8" data-dismiss="alert" data-dismiss-target="#toast-{{ message.tag }}" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>
    </div>
{% endfor %}
{% endif %}
<aside  id="sidebar-multi-level-sidebar" class="fixed  top-0   right-0 z-40 w-64 h-screen transition-transform translate-x-full sm:translate-x-0" aria-label="Sidebar">

  <div class="h-full px-3 py-4 overflow-y-auto shadow-lg bg-gray-50 " >
     <div class="flex justify-center">
        <a href="{% url 'main:home_view' %}" class="cursor-pointer">
        <img
             src="/media/logos/NLogo.png"
             class="h-10"
             alt="Nashaa Logo"
           /></a>
     </div>
      <ul class="space-y-2 font-medium pt-20">
         <li class="">
            <a href="{% url 'academy:academy_dashboard_view' request.user.id %}" class="flex items-center p-2 text-gray-900 rounded-lg light:text-white hover:bg-gray-100 light:hover:bg-gray-700 group">
               <svg class="w-5 h-5 text-[#cd7868] transition duration-75   " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#cd7868" viewBox="0 0 22 21">
                  <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                  <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
               </svg>
               <span class="ms-3">نظرة عامة</span>
            </a>
         </li>
         <li>
            <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
              <div class="">
                 <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 28px; color: #cd7868;">
                    surfing
                    </span>
                </div>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">البرامج</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
            </button>
            <ul id="dropdown-example" class="hidden py-2 space-y-2">
                  <li>
                     <a href="{% url 'academy:add_program_view' request.user.id %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">اضف برنامج</a>
                  </li>

                  <li>
                     <a href="{% url 'academy:programs_list_view' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">قائمة البرامج</a>
                  </li>
            </ul>
         </li>
         <li>
           <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example1" data-collapse-toggle="dropdown-example1">
              <div class="">
                 <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 28px; color: #cd7868;">
                    location_on
                    </span>
                </div>
                 <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">الفروع</span>
                 <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                 </svg>
           </button>
           <ul id="dropdown-example1" class="hidden py-2 space-y-2">
                 <li>
                    <a href="{% url 'academy:add_branch_view' request.user.id %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">اضف فرع</a>
                 </li>
                 <li>
                    <a href="{% url 'academy:branches_list_view' request.user.id %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">قائمة الفروع</a>
                 </li>
           </ul>
        </li>
        <li>
           <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example2" data-collapse-toggle="dropdown-example2">
              <div class="">
                 <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 28px; color: #cd7868;">
                    groups
                    </span>
                </div>
                 <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">المدربين</span>
                 <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                 </svg>
           </button>
           <ul id="dropdown-example2" class="hidden py-2 space-y-2">
                 <li>
                    <a href="{% url 'academy:add_coach_view' request.user.id %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">اضف مدرب</a>
                 </li>

                 <li>
                    <a href="{% url 'academy:coach_list_view' request.user.id %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">قائمة المدربين</a>
                 </li>
           </ul>
        </li>
        <li>
           <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example3" data-collapse-toggle="dropdown-example3">
              <div class="">
                 <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 28px; color: #cd7868;">
                    group_add
                    </span>
                </div>
                 <a href="{% url 'academy:subscribers_view' user.id %}">
                 <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap ">المشتركين</span>
              </a>
                
           </button>
          
        </li>
         
         
         
      </ul>
      <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 ">
        <li >
           <a href="{% url 'contactUs:customer_query_view' %}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 ">
              <div class="flex items-center">
                 <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 28px; color: #cd7868;">
                    help
                    </span>
                    <span class="ms-3">تواصل معنا</span>
                </div>
              
           </a>
        </li> 
        <li >
           <a href="{% url  'main:about' %}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100  group">
              <div class="flex items-center">
                 <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 28px; color: #cd7868;">
                    info
                    </span>
                     <span class="ms-3"> من نحن </span>
                </div>
              
           </a>
        </li> 
        <li >
           <a href="{% url 'account:log_out' %}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 ">
              <div class="flex items-center">
                 <span class="material-symbols-outlined text-[#cd6868]" style="font-size: 28px; color: #cd7868;">
                    logout
                    </span>
                    
                      <span class="ms-3">تسجيل خروج</span>
                   
                </div>
              
           </a>
        </li> 
        </ul>

   </div>
</aside>



    <div class="p-4 my-element ">
    {% block content %}
    
    

    
    {% endblock %}
</div>
<script>
  const getChartOptions = () => {
  return {
    series: {% block chart_series %} {% endblock %},
    colors: ["#1C64F2", "#16BDCA", "#9061F9"],
    chart: {
      height: 420,
      width: "100%",
      type: "pie",
    },
    stroke: {
      colors: ["white"],
    },
    plotOptions: {
      pie: {
        labels: {
          show: false, // Hide default pie labels
        },
        dataLabels: {
          offset: -25,
        }
      },
    },
    labels: {% block label_pie %} {% endblock %},
    dataLabels: {
      enabled: true,
      style: {
        fontFamily: "Inter, sans-serif",
      },
    },
    legend: {
      position: "bottom",
      fontFamily: "Inter, sans-serif",
    },
    tooltip: {
      enabled: true,
      y: {
        formatter: function (value) {
          return ""; // Empty string to hide value
        }
      },
      custom: function ({ series, seriesIndex, dataPointIndex, w }) {
        // Return the label from your labels array
        return '<div class="arrow_box">' + w.config.labels[seriesIndex] + '</div>';
      }
    },
    yaxis: {
      labels: {
        formatter: function (value) {
          return value + "%";
        },
      },
    },
    xaxis: {
      labels: {
        formatter: function (value) {
          return value + "%";
        },
      },
      axisTicks: {
        show: false,
      },
      axisBorder: {
        show: false,
      },
    },
  }
}

if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
  const chart = new ApexCharts(document.getElementById("pie-chart"), getChartOptions());
  chart.render();
}

</script>
    <script>
       const options1 = {
         chart: {
           height: "100%",
           maxWidth: "100%",
           type: "area",
           fontFamily: "Inter, sans-serif",
           dropShadow: {
             enabled: false,
           },
           toolbar: {
             show: false,
           },
         },
         tooltip: {
           enabled: true,
           x: {
             show: false,
           },
         },
         fill: {
           type: "gradient",
           gradient: {
             opacityFrom: 0.6,
             opacityTo: 0,
             shadeIntensity: 0,
             stops: [20, 100],
           },
         },
         dataLabels: {
           enabled: false,
         },
         markers: {
           size: 0,
         },
         xaxis: {
           type: "datetime",
           categories: {% block payment_dates %}  {% endblock %},
           axisBorder: {
             show: false,
           },
           labels: {
             style: {
               colors: "#97a3b9",
             },
           },
         },
         yaxis: {
           show: false,
           tickAmount: 3,
         },
         grid: {
           strokeDashArray: 4,
         },
         stroke: {
           curve: "smooth",
           width: 2,
         },
         series: [{
           name: "ايرادات",
           data: {% block payment_sales %} {% endblock %},
         }, ],
         colors: ["#4FD1C5"],
       };
       
       const chart1 = new ApexCharts(document.getElementById("area-chart"), options1);
       chart1.render();
       
       const options2 = {
         chart: {
           height: "100%",
           maxWidth: "100%",
           type: "area",
           fontFamily: "Inter, sans-serif",
           dropShadow: {
             enabled: false,
           },
           toolbar: {
             show: false,
           },
         },
         tooltip: {
           enabled: true,
           x: {
             show: false,
           },
         },
         fill: {
           type: "gradient",
           gradient: {
             opacityFrom: 0.6,
             opacityTo: 0,
             shadeIntensity: 0,
             stops: [20, 100],
           },
         },
         dataLabels: {
           enabled: false,
         },
         markers: {
           size: 0,
         },
         xaxis: {
           type: "datetime",
           categories: {% block subscribers_dates %} {% endblock %},
           axisBorder: {
             show: false,
           },
           labels: {
             style: {
               colors: "#97a3b9",
             },
           },
         },
         yaxis: {
           show: false,
           tickAmount: 3,
         },
         grid: {
           strokeDashArray: 4,
         },
         stroke: {
           curve: "smooth",
           width: 2,
         },
         series: [{
           name: "مشتركين",
           data:{% block subscribers_numbers %} {% endblock %},
         }, ],
         colors: ["#1A56DB"],
       };
       
       const chart2 = new ApexCharts(document.getElementById("area-chart-2"), options2);
       chart2.render();
       </script>
    <script>
       // JavaScript code for Chart.js
    
       const data = {
        datasets: [{
            data: ['{{enrollments_ended.count}}', '{{enrollments_pending.count}}', '{{enrollments_in_progress.count}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)', // First bar: Red
                'rgba(255, 165, 0, 0.2)',  // Second bar: Orange
                'rgba(0, 128, 0, 0.2)'     // Third bar: Green
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',   // Border color for the first bar
                'rgba(255, 165, 0, 1)',    // Border color for the second bar
                'rgba(0, 128, 0, 1)'       // Border color for the third bar
            ],
            borderWidth: 1
        }],
        labels: ['منتهي', 'معلق', 'جاري']
       };
    
       const config = {
           type: 'bar',
           data: data,
           options: {
               responsive: true,
               plugins: {
                   legend: {
                       display: false // Hide legend if not needed
                   },
                   tooltip: {
                       callbacks: {
                           label: function(tooltipItem) {
                               return tooltipItem.label + ': ' + tooltipItem.raw;
                           }
                       }
                   }
               },
               scales: {
                   x: {
                       grid: {
                           display: false // Hide x-axis grid lines
                       },
                       ticks: {
                           display: false // Hide x-axis labels
                       }
                   },
                   y: {
                       grid: {
                           display: false // Hide y-axis grid lines
                       },
                       ticks: {
                           display: false // Hide y-axis labels
                       }
                   }
               }
           }
       };
    
       window.onload = function() {
           // Create and render the chart
           const ctx = document.getElementById('myChart').getContext('2d');
           new Chart(ctx, config);
       };
    </script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>