{% extends 'academy/base.html' %}
{% block chart_series %}
[52.8, 25.8, 19.4]
{% endblock %}
{% block label_pie %}
["Direct", "Organic search", "saeed"]
{% endblock %}
{% block payment_dates %} 
    [
    {% for date in datesList %}
        "{{ date }}"{% if not forloop.last %}, {% endif %}
    {% endfor %}
    ]
{% endblock %}
{% block payment_sales %} 
  [
  {% for price in salesList %}
    "{{ price }}"{% if not forloop.last %}, {% endif %}
  {% endfor %}
    ]
{% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="" style="  background: linear-gradient(to bottom right, #ffffff, #ffffff);">        
<section  >
 <div class=""  >
    <div class="p-4   rounded-lg " >
       <div class=" md:grid md:grid-cols-4 gap-x-10 " >
          <!-- <div class="flex  mb-1 flex-col items-center justify-center h-24 rounded  light:bg-gray-800" style="background-color: rgb(255,255,255,1);">
             <p class="text-2xl text-gray-400 light:text-gray-500">
                عدد البرامج 
             </p>
             <span class="text-2xl text-gray-400 light:text-gray-500">{{programs.count}}</span>
          </div> -->
          <div class="bg-white shadow-md rounded-lg p-6 mb-4 ">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">البرامج</h2>
                <p class="text-3xl font-bold text-gray-800">{{programs.count}}</p>
              </div>
              <div class="">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  surfing
                  </span>
              </div>
            </div>
          </div>
          
          <!-- <div class="flex  mb-1 flex-col items-center justify-center h-24 rounded  light:bg-gray-800" style="background-color: rgb(255,255,255,1);">
            <p class="text-2xl text-gray-400 light:text-gray-500">
               عدد الفروع 
            </p>
            <span class="text-2xl text-gray-400 light:text-gray-500">{{branches.count}}</span>
         </div> -->
         <div class="bg-white shadow-md rounded-lg p-6  mb-4">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">الفروع</h2>
                <p class="text-3xl font-bold text-gray-800">{{branches.count}}</p>
              </div>
              <div class="text-green-500">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  location_on
                  </span>
              </div>
            </div>
          </div>
         <!-- <div class="flex  mb-1 flex-col items-center justify-center h-24 rounded  light:bg-gray-800" style="background-color: rgb(255,255,255,1);">
            <p class="text-2xl text-gray-400 light:text-gray-500">
               عدد المدربين 
            </p>
            <span class="text-2xl text-gray-400 light:text-gray-500">{{coaches.count}}</span>
         </div> -->
         <div class="bg-white shadow-md rounded-lg p-6 gap-10  mb-4">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">المدربين</h2>
                <p class="text-3xl font-bold text-gray-800">{{coaches.count}}</p>
              </div>
              <div class="text-green-500">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  groups
                  </span>
              </div>
            </div>
          </div>
         <!-- <div class="flex  mb-1 flex-col items-center justify-center h-24 rounded  light:bg-gray-800" style="background-color: rgb(255,255,255,1);">
            <p class="text-2xl text-gray-400 light:text-gray-500">
               عدد المشتركين 
            </p>
            <span class="text-2xl text-gray-400 light:text-gray-500">{{enrollments.count}}</span>
         </div> -->
         <div class="bg-white shadow-md rounded-lg p-6  mb-4">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">المشتركين</h2>
                <p class="text-3xl font-bold text-gray-800">{{enrollments.count}}</p>
              </div>
              <div class="text-green-500">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  group_add
                  </span>
              </div>
            </div>
          </div>
       </div>
       <div class="  flex flex-col  md:flex-row w-full justify-center gap-5 py-3 mb-10 mt-10">

            
         <div>
            <div class="max-w-sm w-full bg-white rounded-lg shadow  p-4 md:p-6">
               <div class="flex justify-between">
                 <div>
                   <h5 class="leading-none text-3xl font-bold text-gray-900  pb-2">{{total_income}}</h5>
                   <p class="text-base font-normal text-gray-500 ">ايرادات هذا الشهر</p>
                 </div>
                 <div class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500  text-center">
                   12%
                   <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4" />
                   </svg>
                 </div>
               </div>
               <div id="area-chart"></div>
               
             </div>
         </div>
          
         
          <div>
            <div class=" max-w-sm w-full bg-white rounded-lg shadow  p-4 md:p-6 ">
               <div class="flex justify-between">
                 <div>
                   <h5 class="leading-none text-3xl font-bold text-gray-900  pb-2">15.2k</h5>
                   <p class="text-base font-normal text-gray-500">ايرادات هذا الشهر</p>
                 </div>
                 <div class="flex items-center px-2.5 py-0.5 text-base font-semibold text-red-500  text-center">
                   -8%
                   <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1v12M5 1l4 4M5 1L1 5" />
                   </svg>
                 </div>
               </div>
               <div id="area-chart-2"></div>
               
             </div>
          </div>
          
<div style="max-width: 24rem; max-height: 20rem;" class=" bg-white rounded-lg shadow  p-4 md:p-6">

  <div class="flex justify-between items-start max-w-sm">
      <div class="flex-col items-center">
        <div class="flex items-center mb-1">
            <h5 class="text-xl font-bold leading-none text-gray-900  me-1">انواع الرياضات</h5>
      </div>

    </div>

  </div>

  <div class="" style="width: 17rem;" id="pie-chart"></div>
</div>


          
          
                  </div>
       <div class=" rounded-lg shadow-md">
        <div class="flex justify-center mb-2 mt-2">
         <h2 class="text-2xl text-gray-400">حالة الاشتراكات </h2>
        </div>
        <div class="flex items-center justify-center  mb-4 rounded bg-white light:bg-gray-800"></div>
         <div class=" w-full">
            
            <canvas id="myChart" class="w-72" height="85px" ></canvas>
         </div>
         </div>

        
         
       </div>
       
     

         </div>
       </div>
     
    </div>
 </div>

</section>
 

 

</div>  


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}
<!--  -->

<!--  -->