
<div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 md:gap-16 gap-6  md:mx-24 ">
    {% for program in programs %}
    <div class="relative mx-auto md:w-full w-3/4 ">
      <a href="{% url 'academy:program_detail_view' program.id %}" class="relative inline-block duration-300 ease-in-out transition-transform transform hover:-translate-y-2 w-full">
        <div class="shadow p-4 rounded-lg bg-white/65 ">
          <div class="flex justify-center relative rounded-lg overflow-hidden h-52">
            <div class="transition-transform duration-500 transform ease-in-out hover:scale-110 w-full">
              <img  src="{{program.programimage_set.first.image.url}}" class="absolute inset-0 bg-black rounded-lg " alt="">
            </div>
            <span class="absolute top-0 right-0 inline-flex mt-3 items-center gap-1 mr-3 px-3 py-2 rounded-lg z-10 bg-[#eD786A] text-sm font-medium text-white select-none">
              
              <svg width="12" height="12" viewBox="0 0 12 10" fill="#ffe700"  xmlns="http://www.w3.org/2000/svg"><path d="M6.25333 8.28568C6.09679 8.19352 5.90258 8.19352 5.74604 8.28568L3.31597 9.71618C2.93433 9.94084 2.47058 9.59509 2.57696 9.16519L3.22394 6.55064C3.27013 6.36399 3.20519 6.16739 3.05692 6.04497L0.955287 4.30981C0.608396 4.02341 0.786618 3.46036 1.23513 3.42573L4.03001 3.20991C4.21511 3.19561 4.37705 3.07994 4.4506 2.90948L5.5406 0.383314C5.71429 -0.0192352 6.28508 -0.019235 6.45877 0.383315L7.54877 2.90948C7.62232 3.07994 7.78426 3.19561 7.96936 3.2099L10.7647 3.42573C11.2132 3.46036 11.3914 4.02346 11.0445 4.30984L8.9425 6.04497C8.7942 6.16739 8.72924 6.36401 8.77543 6.55068L9.42241 9.16519C9.52879 9.59508 9.06504 9.94084 8.6834 9.71618L6.25333 8.28568Z"></path></svg>{{ program.avg_rating }}
            </span>
          </div>
  
          <div class="md:mt-4">
            <h2 class="font-medium text-base md:text-lg text-gray-800 line-clamp-1" >
              {{program.program_name}}
            </h2>
            <a class="cursor-pointer" href="{% url 'academy:academies_profile_view' program.branch.academy.id %}">
            <div class="flex items-start gap-2">
              
                <div class="relative">
                  <img src="{{program.branch.academy.logo.url}}" class=" w-6 h-6 md:w-8 md:h-8 ">
                </div>
                
                  
                <p class="ml-2 text-gray-800 line-clamp-1 text-sm">
                  {{program.branch.academy.academy_name}}
                </p>
              
              </div>
            </a>
          </div>
  
          
          <a href="{% url 'enrollment:enroll_in_program_view' program.id %}">
          <div class="grid grid-cols-2 mt-8">
            <div>
             
                <div class="bg-[#eD786A] text-white font-semibold rounded-lg w-fit px-3 py-1 ">
                  
                    <Button >انضم الآن</Button>
              
                </div>
              
            </div>
  
            <div class="flex justify-end">
              <p class="inline-block font-semibold text-primary whitespace-nowrap leading-tight rounded-xl">
                <span class="text-sm uppercase">
                </span>
                <span class="text-lg">{{program.fees|floatformat }} ريال</span>
              </p>
            </div>
          </div>
        </a>
        </div>
      </a>
    </div>
  
  {% endfor %}
  
  </div>
