{% extends 'base.html'%}
{% block content %}




<form class="max-w-sm pt-32 mx-auto" method="post" enctype="multipart/form-data" action="?next={% url 'academy:academy_dashboard_view' user.id %}">
  {% csrf_token %}
  <div class="mb-5">
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">اسم المدرب</label>
    <input type="text" name="name" value="{{coach.name}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500 light:shadow-sm-light"
      placeholder="احمد علي " required />
  </div>
  <div class="mb-5">
    <label for="branch" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">الفرع</label>
    <select id="branch" name="branch" 
    class="bg-gray-50 border  border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500">
    <option selected value="{{coach.id}}">{{coach.branch.branch_name}}</option>
    {% for branch in branches %}
    <option name="" id="" value="{{coach.id}}">{{branch.branch_name}}</option>
    {% endfor %}
  </select>
   
  <div class="mb-5">
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">الايميل</label>
    <input type="email" name="email" value="{{coach.email}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500 light:shadow-sm-light"
      placeholder="ahmed@gmail.com" required />
  </div>
  <div class="mb-5">
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">رقم الهاتف</label>
    <input type="text" name="phone" value="{{coach.phone}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500 light:shadow-sm-light"
      placeholder="0xxxxxxxxxx" required />
  </div>
  <div class="mb-5">
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">الخبرة</label>
    <input type="text" name="experience" value="{{coach.experience}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500 light:shadow-sm-light"
      placeholder="" required />
  </div>

  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">تاريخ الميلاد</label>
  <div class="relative max-w-sm">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 light:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
      </svg>
    </div>
    <input datepicker id="default-datepicker" type="text" name="birth_date" value="{{coach.birth_date|date:'Y-m-d'}}"
       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500"
      placeholder="اختار تاريخ">
  </div>


  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">الجنسية</label>
  <select id="countries" name="nationality" 
    class="bg-gray-50 border  border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500">
    <option selected value="{{coach.nationality}}">{{coach.nationality}}</option>
    {% for key, nation in nationality %}
    <option name="" id="" value="{{nation}}">{{nation}}</option>
    {% endfor %}
  </select>

  <div class="mb-5">
    <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">الجنس</label>
  <select id="gender" name="gender"
    class="bg-gray-50 border  border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500">
    <option name="" id="" selected value="{{coach.gender}}">{{coach.gender}}</option>
    {% for key ,gender in genders %}
    <option name="" id="" value="{{gender}}">{{gender}}</option>
    {% endfor %}
  </select>
  
<label class="block mb-2 text-sm font-medium text-gray-900 light:text-white" for="file_input">صورة شخصية </label>
<input name="avatar" value="{{coach.avatar.url}}" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 light:text-gray-400 focus:outline-none light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400" id="file_input" type="file">
<img src="{{coach.avatar.url}}" class="w-20 " alt="">
  </div>
  <button type="submit" class="text-white w-full bg-[#ED786A] hover:bg-[#f05e4e] focus:ring-4 focus:outline-none focus:ring-orange-300 light:focus:ring-orange-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">تحديث بيانات المدرب</button>
</form>

{% endblock %}
