{% extends 'base.html' %}

{% block content %}
<head>
<style>
    /* Default styling for smaller screens */
.my-element {
    margin-right: 1rem; /* Default margin for smaller screens */
}

/* Styling for medium screens and above */
@media (min-width: 768px) {
    .my-element {
        margin-right: 16rem;
    }
}


</style>
</head>
<section class="pt-8 lg:pt-32" >
<aside  id="sidebar-multi-level-sidebar" class="fixed top-24  right-0 z-40 w-64 h-screen transition-transform translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 light:bg-gray-800">
       <ul class="space-y-2 font-medium">
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg light:text-white hover:bg-gray-100 light:hover:bg-gray-700 group">
                <svg class="w-5 h-5 text-gray-500 transition duration-75 light:text-gray-400 group-hover:text-gray-900 light:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                   <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                   <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                </svg>
                <span class="ms-3">نظرة عامة</span>
             </a>
          </li>
          <li>
             <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                   <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 light:text-gray-400 light:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                      <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                   </svg>
                   <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">الأكاديميات والنوادي</span>
                   <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                   </svg>
             </button>
             <ul id="dropdown-example" class="hidden py-2 space-y-2">
                   <li>
                      <a href="{% url 'moderator:academies_for_approval_view' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">اعتماد أكاديمية</a>
                   </li>
                   <li>
                      <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">البرامج</a>
                   </li>
                   <li>
                     <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">المدربين</a>
                  </li>
                   <li>
                      <a href="{% url 'moderator:approved_academies_view' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">الأكاديميات المعتمدة</a>
                   </li>
             </ul>
          </li>
          <li>
            <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example1" data-collapse-toggle="dropdown-example1">
                  <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 light:text-gray-400 light:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                     <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">العناية بالعملاء</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
            </button>
            <ul id="dropdown-example1" class="hidden py-2 space-y-2">
                  <li>
                     <a href="{% url 'moderator:customers_queries_view' 'Open' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">رسائل العملاء المفتوحة</a>
                  </li>
                  <li>
                     <a href="{% url 'moderator:customers_queries_view' 'Closed' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">رسائل العملاء المغلقة</a>
                  </li>
                  <li>
                     <a href="{% url 'moderator:customers_queries_view' 'all' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">جميع الرسائل</a>
                  </li>
            </ul>
         </li>
         <li>
            <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example2" data-collapse-toggle="dropdown-example2">
                  <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 light:text-gray-400 light:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                     <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">المستخدمون</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
            </button>
            <ul id="dropdown-example2" class="hidden py-2 space-y-2">
                  <li>
                     <a href="{% url 'academy:add_coach_view' request.user.id %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">إضافة مستخدم</a>
                  </li>
                  <li>
                     <a href="{% url 'moderator:users_view' 'academy' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">مستخدمو الأكاديميات</a>
                  </li>
                  <li>
                     <a href="{% url 'moderator:users_view' 'individual' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">المستخدمون الأفراد</a>
                  </li>
                  <li>
                     <a href="{% url 'moderator:users_view' 'all' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 light:text-white light:hover:bg-gray-700">جميع المستخدمين</a>
                  </li>
            </ul>
         </li>
         <li>
            <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 light:text-white light:hover:bg-gray-700" aria-controls="dropdown-example3" data-collapse-toggle="dropdown-example3">
                  <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 light:text-gray-400 light:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                     <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">المشتركون</span>
                 
            </button>
           
         </li>
          
          
          
       </ul>
    </div>
 </aside>
 
 <div class="mx-auto max-w-screen-lg py-8 sm:px-6 sm:py-12 lg:px-8">
   
 
   <dl class="mt-6 grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 lg:grid-cols-4">
     <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
       <dt class="order-last text-lg font-medium text-gray-500">أكاديمية ونادي</dt>
       <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl" data-target={{academies.count}}>0</dd>
     </div>
 
     <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
       <dt class="order-last text-lg font-medium text-gray-500">برنامج</dt>
       <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl" data-target={{programs.count}}>0</dd>
     </div>
 
     <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
       <dt class="order-last text-lg font-medium text-gray-500">اشتراك</dt>
       <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl" data-target={{subscriptions.count}}>0</dd>
     </div>
 
     <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
       <dt class="order-last text-lg font-medium text-gray-500">مستخدم</dt>
       <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl" data-target={{users.count}}>0</dd>
     </div>
   </dl>
 </div>

 
<div class="max-w-sm mx-auto w-full bg-white rounded-lg shadow  p-4 md:p-6">
  <div class="flex justify-between mb-5">
    <div>
      <h5 class="leading-none text-3xl font-bold text-gray-900  pb-2">{{sales_total}} ريال</h5>
      <p class="text-base font-normal text-gray-500 ">إجمالي المبيعات</p>
    </div>
    <div
      class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500  text-center">
      23%
      <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
      </svg>
    </div>
  </div>
  <div id="tooltip-chart"></div>
  <div class="grid grid-cols-1 items-center border-gray-200 border-t  justify-between mt-5">
    <div class="flex justify-between items-center pt-5">
      <!-- Button -->
      <button
        id="dropdownDefaultButton"
        data-dropdown-toggle="lastDaysdropdown"
        data-dropdown-placement="bottom"
        class="text-sm font-medium text-gray-500  hover:text-gray-900 text-center inline-flex items-center "
        type="button">
        آخر 30 يوم
        <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
          <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownDefaultButton">
            
            <li>
              <a href="{% url 'moderator:moderator_dashboard_view' 30 %}" class="block px-4 py-2 hover:bg-gray-100  ">آخر 30 يوم</a>
            </li>
            <li>
              <a href="{% url 'moderator:moderator_dashboard_view' 90 %}" class="block px-4 py-2 hover:bg-gray-100  ">آخر 90 يوم</a>
            </li>
          </ul>
      </div>
      <a
        href="#"
        class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 px-3 py-2">
        تقرير المبيعات
        <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
      </a>
    </div>
  </div>
</div>


<div class="shadow-lg rounded-lg overflow-hidden" style="display: flex; justify-content: center; align-items: center; height: 400px; width: 400px; margin: 0 auto;">
  <div style="height: 100%; width: 100%;">
    <canvas id="chartPie"></canvas>
  </div>
</div>


<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart pie -->
<script>
  const dataPie = {
    labels: JSON.parse('{{sport_categories}}'),  //All sports categories
    datasets: [
      {
        label: "My First Dataset",
        data: [300, 50, 100, 200, 80,333,777],
        backgroundColor: JSON.parse('{{sport_categories_colors}}'),
        hoverOffset: 4,
      },
    ],
  };

  const configPie = {
    type: "pie",
    data: dataPie,
    options: {},
  };

  var chartBar = new Chart(document.getElementById("chartPie"), configPie);
</script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () { //window.onload = function() {
      const options = {
          tooltip: {
              enabled: true,
              x: { show: true },
              y: { show: true },
          },
          grid: {
              show: false,
              strokeDashArray: 4,
              padding: { left: 2, right: 2, top: -26 },
          },
          series: [
              {
                  name: "رياضة كرة القدم",
                  data:  JSON.parse('{{football_salesList}}'), //football sales durning the period of time specified.
                  color: "#1A56DB",
              },
              {
                  name: "رياضة كرة الطائرة",
                  data: JSON.parse('{{volleyball_salesList}}'), //volleyball sales durning the period of time specified.
                  color: "#7E3BF2",
              },
          ],
          chart: {
              height: "100%",
              maxWidth: "100%",
              type: "area",
              fontFamily: "Inter, sans-serif",
              dropShadow: { enabled: false },
              toolbar: { show: false },
          },
          legend: { show: true },
          fill: {
              type: "gradient",
              gradient: {
                  opacityFrom: 0.55,
                  opacityTo: 0,
                  shade: "#1C64F2",
                  gradientToColors: ["#1C64F2"],
              },
          },
          dataLabels: { enabled: false },
          stroke: { width: 6 },
          xaxis: {
              categories: JSON.parse('{{datesList}}') , //payments dates durning the period of time specified.
              labels: { show: false },
              axisBorder: { show: false },
              axisTicks: { show: false },
          },
          yaxis: {
              show: false,
              labels: {
                  formatter: function (value) {
                      return  (value !== undefined ? value : 0) + ' ريال';
                  }
              }
          },
      };

      const chart = new ApexCharts(document.getElementById("tooltip-chart"), options);
      chart.render();
  });

</script>
 
   
   
   <script>
     // Function to animate the numbers
     function animateNumbers() {
       const counters = document.querySelectorAll('dd[data-target]');
       
       counters.forEach(counter => {
         const updateCount = () => {
           const target = +counter.getAttribute('data-target');
           const count = +counter.innerText.replace(/\D/g, '');
   
           // Define the speed of the counter
           const speed = target / 200;
   
           // Increment the counter value
           if (count < target) {
             counter.innerText = count + Math.ceil(speed);
             setTimeout(updateCount, 1);
           } else {
             counter.innerText = target.toLocaleString();
           }
         };
         
         updateCount();
       });
     }
   
     // Trigger the animation when the page loads
     window.addEventListener('load', animateNumbers);



   </script>

     
 
{% endblock %}