{% extends 'moderator/base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="" style="  background: linear-gradient(to bottom right, #ffffff, #ffffff);">        
<section  >
 <div class="">
    <div class="p-4 rounded-lg " >
       <div class=" md:grid md:grid-cols-4 gap-x-10 " >
          
          <div class="bg-white shadow-md rounded-lg p-6 mb-4">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">أكاديمية ونادي</h2>
                <p class="text-3xl font-bold text-gray-800" data-target="{{academies.count}}">0</p>
              </div>
              <div class="">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  surfing
                  </span>
              </div>
            </div>
          </div>
          
          <!-- <div class="flex  mb-1 flex-col items-center justify-center h-24 rounded  light:bg-gray-800" style="background-color: rgb(255,255,255,1);">
            <p class="text-2xl text-gray-400 light:text-gray-500">
               عدد الفروع 
            </p>
            <span class="text-2xl text-gray-400 light:text-gray-500">{{branches.count}}</span>
         </div> -->
         <div class="bg-white shadow-md rounded-lg p-6  mb-4">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">البرامج</h2>
                <p class="text-3xl font-bold text-gray-800" data-target="{{programs.count}}">0</p>
              </div>
              <div class="text-green-500">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  location_on
                  </span>
              </div>
            </div>
          </div>
         <!-- <div class="flex  mb-1 flex-col items-center justify-center h-24 rounded  light:bg-gray-800" style="background-color: rgb(255,255,255,1);">
            <p class="text-2xl text-gray-400 light:text-gray-500">
               عدد المدربين 
            </p>
            <span class="text-2xl text-gray-400 light:text-gray-500">{{coaches.count}}</span>
         </div> -->
         <div class="bg-white shadow-md rounded-lg p-6 gap-10  mb-4">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">اشتراك</h2>
                <p class="text-3xl font-bold text-gray-800" data-target="{{subscriptions.count}}">0</p>
              </div>
              <div class="text-green-500">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  groups
                  </span>
              </div>
            </div>
          </div>
         <!-- <div class="flex  mb-1 flex-col items-center justify-center h-24 rounded  light:bg-gray-800" style="background-color: rgb(255,255,255,1);">
            <p class="text-2xl text-gray-400 light:text-gray-500">
               عدد المشتركين 
            </p>
            <span class="text-2xl text-gray-400 light:text-gray-500">{{enrollments.count}}</span>
         </div> -->
         <div class="bg-white shadow-md rounded-lg p-6  mb-4">
            <div class="flex items-center justify-between">
              <div>
                <h2 class="text-lg font-semibold text-gray-800">مستخدم</h2>
                <p class="text-3xl font-bold text-gray-800" data-target="{{users.count}}">0</p>
              </div>
              <div class="text-green-500">
               <span class="material-symbols-outlined text-[#cd7868]" style="font-size: 50px; color: #cd7868;">
                  group_add
                  </span>
              </div>
            </div>
          </div>
       </div>

      
       </div>
     
    </div>
 </div>






<!-- ============//////////////////////===============///////////////////================ -->



<div class="justify-around mx-auto w-full  flex flex-wrap gap-10 items-center  p-4 md:p-6">
  <div class=" md:flex-row space-y-4 md:space-x-4 rounded-lg shadow py-7 ">
    <div class=" flex flex-col  overflow-hidden" style="display: flex; justify-content: center; align-items: center; height: 400px; width: 400px; margin: 0 auto;">
     <div style="height: 100%; width: 100%;">
       <canvas id="chartPie"></canvas>
     </div>
   </div>
 
 
      </div>
  <div class="rounded-lg shadow px-10 py-4 ">
  <div class="flex justify-between  ">
    <div>
      <h5 class="leading-none text-3xl font-bold text-gray-900  pb-2">{{sales_total}} ريال</h5>
      <p class="text-base font-normal text-gray-500 ">إجمالي المبيعات</p>
    </div>
    <div
      class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500  text-center">
      23%
      <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
      </svg>
    </div>
  </div>
  <div id="tooltip-chart" class="" ></div>
  <div class="grid grid-cols-1 items-center border-gray-200 border-t  justify-between mt-5">
    <div class="flex justify-between items-center pt-5">
      <!-- Button -->
      <button
        id="dropdownDefaultButton"
        data-dropdown-toggle="lastDaysdropdown"
        data-dropdown-placement="bottom"
        class="text-sm font-medium text-gray-500  hover:text-gray-900 text-center inline-flex items-center "
        type="button">
        آخر 30 يوم
        <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
          <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownDefaultButton">
            
            <li>
              <a href="{% url 'moderator:moderator_dashboard_view' 30 %}" class="block px-4 py-2 hover:bg-gray-100  ">آخر 30 يوم</a>
            </li>
            <li>
              <a href="{% url 'moderator:moderator_dashboard_view' 90 %}" class="block px-4 py-2 hover:bg-gray-100  ">آخر 90 يوم</a>
            </li>
          </ul>
      </div>
      <a
        href="#"
        class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 px-3 py-2">
        تقرير المبيعات
        <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
      </a>
    </div>
  </div>
</div>
</div>
</div>


</section>
</div> 


 <!-- Required chart.js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <!-- Chart pie -->
      <script>
        const dataPie = {
          labels: JSON.parse('{{sport_categories}}'),  //All sports categories
          datasets: [
            {
              label: "عدد الاشتراكات",
              data: JSON.parse('{{enrollments_by_sport_category}}'),
              backgroundColor: JSON.parse('{{sport_categories_colors}}'),
              hoverOffset: 4,
            },
          ],
        };
      
        const configPie = {
          type: "pie",
          data: dataPie,
          options: {},
        };
      
        var chartBar = new Chart(document.getElementById("chartPie"), configPie);
      </script>
      
      
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
     





<script>
  document.addEventListener('DOMContentLoaded', function () { //window.onload = function() {
      const options = {
          tooltip: {
              enabled: true,
              x: { show: true },
              y: { show: true },
          },
          grid: {
              show: false,
              strokeDashArray: 4,
              padding: { left: 2, right: 2, top: -26 },
          },
          series: [
              {
                  name: "رياضة كرة القدم",
                  data:  JSON.parse('{{football_salesList}}'), //football sales durning the period of time specified.
                  color: "#1A56DB",
              },
              {
                  name: "رياضة كرة الطائرة",
                  data: JSON.parse('{{volleyball_salesList}}'), //volleyball sales durning the period of time specified.
                  color: "#7E3BF2",
              },
          ],
          chart: {
              height: "100%",
              maxWidth: "100%",
              type: "area",
              fontFamily: "Inter, sans-serif",
              dropShadow: { enabled: false },
              toolbar: { show: false },
          },
          legend: { show: true },
          fill: {
              type: "gradient",
              gradient: {
                  opacityFrom: 0.55,
                  opacityTo: 0,
                  shade: "#1C64F2",
                  gradientToColors: ["#1C64F2"],
              },
          },
          dataLabels: { enabled: false },
          stroke: { width: 3 },
          xaxis: {
              categories: JSON.parse('{{datesList}}') , //payments dates durning the period of time specified.
              labels: { show: false },
              axisBorder: { show: false },
              axisTicks: { show: false },
          },
          yaxis: {
              show: false,
              labels: {
                  formatter: function (value) {
                      return  (value !== undefined ? value : 0) + ' ريال';
                  }
              }
          },
      };

      const chart = new ApexCharts(document.getElementById("tooltip-chart"), options);
      chart.render();
  });

</script>
 
   
   
   <script>
     // Function to animate the numbers of academies, programs, subscriptions and users
     function animateNumbers() {
       const counters = document.querySelectorAll('p[data-target]');
       
       counters.forEach(counter => {
         const updateCount = () => {
           const target = +counter.getAttribute('data-target');
           const count = +counter.innerText.replace(/\D/g, '');
   
           // Define the speed of the counter
           const speed = target / 200;
   
           // Increment the counter value
           if (count < target) {
             counter.innerText = count + Math.ceil(speed);
             setTimeout(updateCount, 1);
           } else {
             counter.innerText = target.toLocaleString();
           }
         };
         
         updateCount();
       });
     }
   
     // Trigger the animation when the page loads
     window.addEventListener('load', animateNumbers);

   </script>

     
{% endblock %}






