{% extends 'moderator/base.html' %}
{% block title %} Academies For Approval  {% endblock %}


{% block content %}
<div class="pt-36 bg-gray-100 min-h-screen">
    <div class="max-w-6xl mx-auto mt-10 px-8"> <!-- Increased padding here -->
        <div class="bg-gray-100 p-12 rounded-xl shadow-xl text-white text-center transform transition-transform hover:scale-105">
            <h3 class="text-5xl font-extrabold mb-4"><span class="text-black">{{ academy.academy_name }}</span></h3>
            <h5 class="text-3xl text-gray-700 font-bold">عدد البرامج في جميع الفروع: 
                <span class="bg-[#cd6868] text-white px-6 py-3 rounded-full inline-block">{{ count }} برنامج</span>
            </h5>
        </div>
        
        <div class="mt-12 bg-white rounded-lg shadow-lg overflow-hidden">
            <table class="min-w-full bg-white">
                <thead>
                    <tr class="bg-gray-100 text-white">
                        <th class="text-black py-4 px-8 border-b-2 border-gray-200 text-right text-lg leading-5 font-semibold uppercase tracking-wider">اسم البرنامج</th>
                        <th class="text-black py-4 px-8 border-b-2 border-gray-200 text-right text-lg leading-5 font-semibold uppercase tracking-wider">الفرع</th>
                        <th class="text-black py-4 px-8 border-b-2 border-gray-200 text-right text-lg leading-5 font-semibold uppercase tracking-wider">نوع الرياضة</th>
                        <th class="text-black py-4 px-8 border-b-2 border-gray-200 text-right text-lg leading-5 font-semibold uppercase tracking-wider">تاريخ البداية</th>
                        <th class="text-black py-4 px-8 border-b-2 border-gray-200 text-right text-lg leading-5 font-semibold uppercase tracking-wider">تاريخ النهاية</th>
                        <th class="text-black py-4 px-8 border-b-2 border-gray-200 text-right text-lg leading-5 font-semibold uppercase tracking-wider">تفعيل</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% for program in programs %}
                    <tr class="hover:bg-gray-100 transform transition-transform hover:scale-105 mx-2">
                        <td class="py-4 px-8 border-b border-gray-200">
                            <a href="{% url 'academy:program_detail_view' program.id %}" class="text-blue-700 hover:text-blue-900 font-semibold text-lg">{{ program.program_name }}</a>
                        </td>
                        <td class="py-4 px-8 border-b border-gray-200">{{ program.branch.branch_city }}</td>
                        <td class="py-4 px-8 border-b border-gray-200 text-red-500">{{ program.get_sport_category_display }}</td>
                        <td class="py-4 px-8 border-b border-gray-200">{{ program.start_date|date:"Y-m-d" }}</td>
                        <td class="py-4 px-8 border-b border-gray-200">{{ program.end_date|date:"Y-m-d" }}</td>
                        <td class="py-4 px-8 border-b border-gray-200 text-center">
                            <form method="post" action="{% url 'moderator:deactivate_program_view' academy.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="program_id" value="{{ program.id }}">
                                <input type="checkbox" name="is_active" onchange="this.form.submit()" {% if program.admin_activtion %}checked{% endif %} class="form-checkbox h-6 w-6 text-green-500 focus:ring-0 focus:outline-none border-2 border-gray-300 rounded-full">
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="py-4 px-6 text-center text-gray-500">لا يوجد برامج في هذه الأكاديمية</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

     <!-- Pagination controls -->
     <div class="flex justify-center mt-6">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-sm">
                <!-- Previous button -->
                {% if programs.has_previous %}
                    <li>
                        <a href="?page=1" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:text-gray-700  ">الأولى</a>
                    </li>
                    <li>
                        <a href="?page={{ programs.previous_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:text-gray-700  ">السابقة</a>
                    </li>
                {% else %}
                    <li>
                        <span class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg cursor-not-allowed opacity-50">الأولى</span>
                    </li>
                {% endif %}

                <!-- Page numbers -->
                {% for num in programs.paginator.page_range %}
                    {% if programs.number == num %}
                        <li>
                            <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-orange-600 border border-gray-300 bg-orange-50 hover:bg-orange-100 hover:text-orange-700">{{ num }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ num }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Next button -->
                {% if programs.has_next %}
                    <li>
                        <a href="?page={{ programs.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">التالية</a>                                                      
                    </li>
                    <li>
                        <a href="?page={{ programs.paginator.num_pages }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">الأخيرة</a>                                         
                    </li>
                {% else %}
                    <li>
                        <span class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg cursor-not-allowed opacity-50">الأخيرة</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
