{% extends 'base.html' %}

{% block title %} من نحن  {% endblock %}

{% block content %}


<div class="flex flex-wrap justify-center items-center gap-10 my-8 py-16">

  <a href="#" class="flex flex-col items-center bg-white m-10 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-[80vw] hover:bg-gray-100 p-10">
      <img class="object-cover w-full rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/media/images/NashaaBG.jpg" alt="">
      <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-4xl font-bold tracking-tight text-[#ED786A]">نبذة عن نشـ ء</h5>
          <p class="mb-3 font-normal text-xl text-gray-700">
            
            منصة نشـ ء هي المنصة الأولى والوحيدة في المملكة والتي تختص بخدمة الأكاديميات الرياضية 
            حيث تتيح لهم حلولاً تقنية لإدارة أكاديمياتهم ومتابعة المشتركين والتحكم بالموارد
            كما تتيح للباحثين عن برامج رياضية لأبنائهم وبناتهم تصفح قوائم الأكاديميات والبرامج الرياضية
            في وقت قصير للغاية
          </p>
      </div>
  </a>

  <div>

  <div class="flex flex-wrap justify-center items-center gap-10 my-8">
    
    <div class="bg-white rounded-lg shadow-md overflow-hidden max-w-sm card flex flex-col">
      <div class="relative flex items-center justify-center">
        <span class="material-symbols-outlined" style="font-size: 50px; color: #ed786a;">
          flag_2
          </span>
      </div>
      <h1 class="text-center font-bold text-3xl py-10">نقطة البداية</h1>
      <div class="p-6">
        <p class="text-gray-700 text-base mb-4 text-xl">
        بدأت نشـ ء خلال معسكر تطوير المواقع بلغة البايثون في أكاديمية طويق. كانت فكرة وتمحورت لتصبح هدفاً للمساهمة في تطور المملكة الرياضي.
        </p>
      </div>
    </div>
  
    <div class="bg-white rounded-lg shadow-md overflow-hidden max-w-sm card flex flex-col">
      <div class="relative flex items-center justify-center">
        <span class="material-symbols-outlined" style="font-size: 50px; color: #ed786a;">
            eye_tracking
          </span>
      </div>
      <h1 class="text-center font-bold text-3xl py-10">رؤيتنا</h1>
      <div class="p-6">
        <p class="text-gray-700 text-base mb-4 text-xl">
         المساهمة في ارتقاء المملكة الرياضي وتقديم خدمات تساهم في تسهيل عمل الأكاديميات والأندية الرياضية وتقليل التكاليف والجهد
        </p>
      </div>
    </div>
  
    <div class="bg-white rounded-lg shadow-md overflow-hidden max-w-sm card flex flex-col">
      <div class="relative flex items-center justify-center">
        <span class="material-symbols-outlined" style="font-size: 50px; color: #ed786a;">
          mail
          </span>
      </div>
      <h1 class="text-center font-bold text-3xl py-10">رسالتنا</h1>
      <div class="p-6">
        <p class="text-gray-700 text-base mb-4 text-xl">
          العقل السليم في الجسم السليم والرياضة هي السبيل للوصول للصحة الجسدية والنفسية وهذا ما نرجو أن يكون أسلوب حياة للأبناء
        </p>
      </div>
    </div>
  </div>
  </div>

  <a href="#" class="flex flex-col w-full items-center bg-white m-10 border border-gray-200 rounded-lg shadow-lg md:flex-row md:max-w-[80vw] hover:bg-gray-100 justify-between p-10">
      <div class="flex flex-col  justify-between p-4 leading-normal">
          <h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 text-[#ED786A] py-2" style="color: #ed786a;">أهدافنا:</h5>
          <p class="mb-3 font-normal text-gray-700 text-xl">
            - حوكمة الأكاديميات الرياضية
          </p>
          <p class="mb-3 font-normal text-gray-700 text-xl">
            - نشر الرياضة على نطاق واسع
          </p>
          <p class="mb-3 font-normal text-gray-700 text-xl">
            - مساعدة الأبناء في الوصول للقمة
          </p>
          <p class="mb-3 font-normal text-gray-700 text-xl">
            - مساعدة الأكاديميات في صناعة الرياضة
          </p>
      </div>
      <span class="material-symbols-outlined" style="font-size: 200px; color: #ed786a;">
        lan
        </span>
  </a>

</div>
      
{% endblock %}

