<!DOCTYPE html>
<html lang="en" dir="rtl" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://kit.fontawesome.com/956e34dfa0.js" crossorigin="anonymous"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <title>{% block title %} {% endblock %} </title>
</head>
<body style="font-family: Tajawal;">
  {% if messages %} 
    {% for message in messages %}
          <div class="flex absolute z-40 items-center w-full max-w-sm py-5 px-6 text-gray-600 bg-white rounded-xl border border-gray-200 shadow-sm mb-6" id="alert">
          <p class="text-base font-medium"> {{message}} </p>
          <div class="ml-auto flex items-center space-x-3">
          <button type="button" class="inline-flex flex-shrink-0 justify-center items-center text-gray-400 transition-all duration-150 " data-dismiss-target="#alert">
            <span class="sr-only">Close</span>
            <svg class="w-6 h-6 " viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 17L17 7M17 17L7 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          </div>
          </div>
          {% endfor %}{%endif%}
    <nav
      class="py-5 border-b-default border-solid  border-gray-200 z-20 w-full bg-inherit lg:fixed"
      id="topnav"
    >
      <div 
       style="background-color: #fffcfc;"
      class="mx-auto max-w-7xl  lg:px-8">
        <div class="w-full flex flex-col lg:flex-row">
          <div class="flex justify-between lg:hidden px-4">
            <button
              data-collapse-toggle="navbar"
              type="button"
              class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
              aria-controls="navbar-default"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <a href="/" class="flex items-center  rtl:space-x-reverse">
            <img
              src="/media/logos/NLogo.png"
              class="h-10"
              alt="Nashaa Logo"
            />
          </a>
          <div class="hidden w-full lg:flex justify-between  max-lg:bg-white py-5 max-lg:mt-1 max-lg:px-4 max-lg:shadow-lg max-lg:shadow-gray-200 max-lg:h-auto max-lg:overflow-auto transition-all duration-500 delay-200 " id="navbar">
            <ul
              class="flex lg:items-center max-lg:gap-4 max-lg:mb-4 flex-col mt-4 lg:flex-1 md:mt-0 lg:flex-row"
            >
              <li>
                <a
                  href="{%url 'main:home_view' %}"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >الصفحة الرئيسية</a
                >
              </li>
              <li>
                <a
                  href="{% url 'main:programs_view' %}"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >البرامج</a
                >
              </li>
              <li>
                <a
                  href="{%url 'contactUs:customer_query_view'%}"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >تواصل معنا</a
                >
              </li>
              <li>
                <a
                  href="javascript:;"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >من نحن</a
                >
              </li>
              <li class="relative">
                <div class="dropdown relative inline-flex">
                </div>
              </li>
            </ul>
            <div
              class="flex lg:items-center justify-start flex-col lg:flex-row max-lg:gap-4 lg:flex-1 lg:justify-end"
            >
            <button
                type="button"
                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 light:focus:ring-gray-600"
                id="user-menu-button"
                aria-expanded="false"
                data-dropdown-toggle="dropdown"
              >
            {% if request.user.is_authenticated %}
              <span class="sr-only">Open user menu</span>
            {% if profile.avatar %}
            <img src="{{ profile.avatar.url}}"
            class="w-8 h-8 rounded-full"
            />
            {% elif profile.logo %}
            <img src="{{profile.logo.url}}"
            class="w-8 h-8 rounded-full"
            />
            {% else %}
            <img
            src="/media/avatars/defaultAvatar.png"
            class="w-8 h-8 rounded-full"
             alt="user photo"
            />
            {% endif %}
             
            </button>
            <!-- Dropdown menu -->
            <div
              class="hidden z-50 my-4 w-56 text-base list-none bg-white divide-y divide-gray-100 shadow light:bg-gray-700 light:divide-gray-600 rounded-xl"
              id="dropdown"
            >
              <div class="py-3 px-4">
                <span
                  class="block text-sm font-semibold text-gray-900 light:text-white"
                  >{{user.username}} ,مرحباً</span
                >
                <span
                  class="block text-sm text-gray-900 truncate light:text-white"
                  >{{user.email}}</span
                >
              </div>
              <ul
                class="py-1 text-gray-700 light:text-gray-300"
                aria-labelledby="dropdown"
              > 
              {% if request.user.is_staff and not request.user.is_superuser %}
                  <li>
                  <a
                    href="{% url 'account:academy_profile_view' user.id %}"
                    class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white"
                    >حساب الأكاديمية</a
                  >
                  <a href="{% url 'academy:academy_dashboard_view' user.id %}" class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white">لوحة التحكم</a>
                </li>

                  {%elif not request.user.is_superuser %}

                    <a
                    href="{% url 'account:profile_view' user.id %}"
                    class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white"
                    >حسابي الشخصي</a
                  >
                {% else %}
                <li>
                    <a href="{% url 'account:profile_view' user.id %}" class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white">حسابي الشخصي</a>
                    <a href="{% url 'moderator:moderator_dashboard_view'  %}" class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white">لوحة التحكم</a>
                </li>
                {% endif %}
                    <li>
                </li>
                <li>
                  <a
                    href="{% url 'enrollment:my_enrollment_view' user.id%}"
                    class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white"
                    >اشتراكاتي</a
                  >
                </li>
              </ul>
              
              <ul
                class="py-1 text-gray-700 light:text-gray-300"
                aria-labelledby="dropdown"
              >
                <li>
                  <a
                    href="{% url 'account:log_out' %}"
                    class="block py-2 px-4 text-sm text-red-700 hover:bg-red-100 "
                    >تسجيل خروج</a
                  >
                </li>
              </ul>
</div>
            </div>
            {%else%}
            <a href="{% url 'account:log_in'%}"
                class="text-white bg-[#ED786A] hover:bg-[#f05e4e] rounded-full cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 py-3 px-6 text-sm"
              >
                تسجيل دخول 
              </a>
            {%endif%}
            </div>
            <!-- Cart Button -->
            {% block cart_items %}
              <div class="flex items-center lg:space-x-2">
                <button 
                  id="myCartDropdownButton1"
                  data-dropdown-toggle="myCartDropdown1"
                  type="button"
                  class="relative z-10 flex items-center p-2 text-black bg-gray-100 border border-transparent rounded-full hover:text-gray-700 focus:outline-none focus:text-gray-700">
                  {%if request.user.is_authenticated and not request.user.is_staff%}
                  <span class="absolute top-0 right-0 px-2.5 py-1  ml-2  text-xs font-bold leading-none text-white transform translate-x-1/2 -translate-y-1/2 bg-[#ED786A] rounded-full">{{count_item}} </span>
                  {%else%}
                  <span class="absolute top-0 right-0 px-2.5 py-1  ml-2  text-xs font-bold leading-none text-white transform translate-x-1/2 -translate-y-1/2 bg-[#ED786A] rounded-full">0</span>
                  {%endif%}
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                  </svg>
                </button>
                <div
                  id="myCartDropdown1"
                  class="hidden z-10  bg-white mx-auto max-w-sm space-y-4 overflow-hidden rounded-lg p-4 antialiased shadow-lg "
                >
                  {% if carts %} {% for enrollment in enrollments %}
                  <div class="flex flex-row items-center">
                    <div class="ml-5 w-16 h-16 mx-auto border border-gray-200 rounded-md">
                        <img class="object-cover w-full h-full rounded-md" src="{{ enrollment.program.programimage_set.first.image.url }}" alt="A beautiful and stylish red dress with a floral print, perfect for a summer day or a night out.">
                      </div>
                    <div class="flex flex-col">
                      <a
                        href="{% url 'main:program_detail_view' enrollment.program.id%}"
                        class="truncate pb-4 text-sm font-semibold leading-none text-black-900 hover:underline"
                        >{{ enrollment.program.program_name }}</a
                      >
                      <p> الأسم: {{enrollment.first_name}} {{enrollment.last_name}} </p>
                      <p>رقم الهوية: {{enrollment.id_number}} </p>
                    </div>
                    <div class="flex items-center justify-end gap-6">
                      <p
                        class="text-sm font-normal leading-none text-gray-500 light:text-gray-400"
                      >
                        SR
                        {{ enrollment.program.fees }}
                      </p>
                      <button
                        data-tooltip-target="tooltipRemoveItem1a"
                        type="button"
                        class="text-red-600 hover:text-red-700 light:text-red-500 light:hover:text-red-600"
                      >
                        <span class="sr-only"> Remove </span>
                        <svg
                          class="h-4 w-4"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </button>
                      <div
                        id="tooltipRemoveItem1a"
                        role="tooltip"
                        class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 light:bg-gray-700"
                      >
                        Remove item
                        <div class="tooltip-arrow" data-popper-arrow></div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                <hr class="border-gray-400" >
                  <p>مجموع السلة: {{ total_fees }} SR</p>
                  <a
                    href="{% url 'cart:cart_summary_view' carts.id%}"
                    title=""
                    class="mb-2 me-2 inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-semibold text-center text-white bg-[#ED786A] hover:bg-[#f05e4e]"
                    role="button"
                  >
                    إتمام عملية الشراء
                  </a>
                  {% else %}
                  <p>No items in cart.</p>
                  {% endif %}
                </div>
            </div>
            {% endblock%}        
        </div>
      </div>
</nav>

{% block content %}

{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>