{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl" {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %} class="dark" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://kit.fontawesome.com/956e34dfa0.js" crossorigin="anonymous"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
    <title>{% block title %} {% endblock %} </title>
</head>



<body style="font-family: Tajawal;">
    <nav
      class="fixed top-0 w-full bg-gray-100 z-20 shadow-lg"
      id="topnav"
    >
    {% if messages %}
    {% for message in messages %}
        <div id="toast-{{ message.tag }}" class="flex absolute z-40 items-center w-full max-w-sm py-5 px-6 mt-24 text-gray-600 bg-white rounded-xl border border-gray-200 shadow-sm mb-6 left-2" role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 {% if 'error' in message.tags %} text-red-500 bg-red-100 {% elif 'success' in message.tags %} text-green-500 bg-green-100 {% elif 'warning' in message.tags %} text-orange-500 bg-orange-100 {% endif %} rounded-lg">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    {% if 'error' in message.tags %}
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                    {% elif 'success' in message.tags %}
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    {% elif 'warning' in message.tags %}
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
                    {% endif %}
                </svg>
                <span class="sr-only">{{ message.tags }} icon</span>
            </div>
            <div class="ms-3 text-sm font-normal">{{ message }}</div>
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8" data-dismiss="alert" data-dismiss-target="#toast-{{ message.tag }}" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>
    {% endfor %}
{% endif %}
      <div 
      class="mx-auto max-w-7xl  lg:px-8">
        <div class="w-full flex flex-col lg:flex-row">
          <div class="flex justify-between lg:hidden px-4">
            <button
              data-collapse-toggle="navbar"
              type="button"
              class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
              aria-controls="navbar-default"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <a href="/" class="flex items-center  rtl:space-x-reverse">
            <img
              src="/media/logos/NLogo.png"
              class="h-10"
              alt="Nashaa Logo"
            />
          </a>
          <div class="hidden w-full lg:flex justify-between  max-lg:bg-white py-5 max-lg:mt-1 max-lg:px-4 max-lg:shadow-lg max-lg:shadow-gray-200 max-lg:h-auto max-lg:overflow-auto transition-all duration-500 delay-200 " id="navbar">
            <ul
              class="flex lg:items-center max-lg:gap-4 max-lg:mb-4 flex-col mt-4 lg:flex-1 md:mt-0 lg:flex-row"
            >
              <li>
                <a
                  href="{%url 'main:home_view' %}"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >الصفحة الرئيسية</a
                >
              </li>
              <li>
                <a
                  href="{% url 'main:programs_view' %}"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >البرامج</a
                >
              </li>
              <li>
                <a
                  href="{%url 'contactUs:customer_query_view'%}"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >تواصل معنا</a
                >
              </li>
              <li>
                <a
                  href="javascript:;"
                  class="text-gray-500 text-sm font-medium hover:text-prime-blue-700 transition-all duration-500 mb-2 block lg:mr-6 lg:text-base md:mb-0 md:mr-3 hover:text-gray-900"
                  >من نحن</a
                >
              </li>
              <li class="relative">
                <div class="dropdown relative inline-flex">
                </div>
              </li>
            </ul>
            <div
              class="flex lg:items-center justify-start flex-col lg:flex-row max-lg:gap-4 lg:flex-1 lg:justify-end"
            >

            

            <button
                type="button"
                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 light:focus:ring-gray-600"
                id="user-menu-button"
                aria-expanded="false"
                data-dropdown-toggle="dropdown"
              >
            {% if request.user.is_authenticated %}
              <span class="sr-only">Open user menu</span>
            {% if profile.avatar %}
            <img src="{{ profile.avatar.url}}"
            class="w-8 h-8 rounded-full"
            />
            {% elif profile.logo %}
            <img src="{{profile.logo.url}}"
            class="w-8 h-8 rounded-full"
            />
            {% else %}
            <img
            src="/media/avatars/defaultAvatar.png"
            class="w-8 h-8 rounded-full"
             alt="user photo"
            />
            {% endif %}
             
            </button>
            
            <!-- Dropdown menu -->
            <div
              class="hidden z-50 my-4 w-56 text-base list-none bg-white divide-y divide-gray-100 shadow light:bg-gray-700 light:divide-gray-600 rounded-xl"
              id="dropdown"
            >
              <div class="py-3 px-4">
                <span
                  class="block text-sm font-semibold text-gray-900 light:text-white"
                  >{{user.username}} ,مرحباً</span
                >
                <span
                  class="block text-sm text-gray-900 truncate light:text-white"
                  >{{user.email}}</span
                >
              </div>
              <ul
                class="py-1 text-gray-700 light:text-gray-300"
                aria-labelledby="dropdown"
              > 
              {% if request.user.is_staff and not request.user.is_superuser %}
                  <li>
                    <div class="flex flex-row">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                    <a href="{% url 'account:academy_profile_view' user.id %}"
                        class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white"
                      >حساب الأكاديمية</a>
                    </div>
                    <div class="flex flex-row">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>
                      <a href="{% url 'academy:academy_dashboard_view' user.id %}" class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white">لوحة التحكم</a>
                    </div>
                </li>

                  {%elif not request.user.is_superuser %}
                    <div class="flex flex-row">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                      <a
                      href="{% url 'account:profile_view' user.id %}"
                      class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white">حسابي الشخصي </a>
                    </div>
                {% else %}
                <li>
                  <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                    <a href="{% url 'account:profile_view' user.id %}" class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white">حسابي الشخصي</a>
                  </div>
                  <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>
                    <a href="{% url 'moderator:moderator_dashboard_view' 30 %}" class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white">لوحة التحكم</a>

                  </div>
                </li>
                <li>
                  <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M320-280q17 0 28.5-11.5T360-320q0-17-11.5-28.5T320-360q-17 0-28.5 11.5T280-320q0 17 11.5 28.5T320-280Zm0-160q17 0 28.5-11.5T360-480q0-17-11.5-28.5T320-520q-17 0-28.5 11.5T280-480q0 17 11.5 28.5T320-440Zm0-160q17 0 28.5-11.5T360-640q0-17-11.5-28.5T320-680q-17 0-28.5 11.5T280-640q0 17 11.5 28.5T320-600Zm120 320h240v-80H440v80Zm0-160h240v-80H440v80Zm0-160h240v-80H440v80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg>
                    <a
                      href="{% url 'enrollment:my_enrollment_view' user.id%}"
                      class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white"
                      >اشتراكاتي</a
                    >
                  </div>
                </li>
                <li>
                  <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m389-400 91-55 91 55-24-104 80-69-105-9-42-98-42 98-105 9 80 69-24 104ZM200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg>
                    <a
                      href="{% url 'bookmark:bookmark_view' user.id%}"
                      class="block py-2 px-4 text-sm hover:bg-gray-100 light:hover:bg-gray-600 light:text-gray-400 light:hover:text-white"
                      >المفضلة</a
                    >
                  </div>
                </li>
                {% endif %}
                    <li>
                </li>

              </ul>
              
              <ul
                class="py-1 text-gray-700 light:text-gray-300"
                aria-labelledby="dropdown"
              >
                <li>
                  <a
                    href="{% url 'account:log_out' %}"
                    class="block py-2 px-4 text-sm text-red-700 hover:bg-red-100 "
                    >تسجيل خروج</a
                  >
                </li>
              </ul>

              <ul>
                <li>
                  <div class="display-mode d-flex align-items-center gap-1">    
                    <a href="{% url 'main:mode_view' 'light' %}?next={{request.path}}" class="nav-link"><span class="material-symbols-outlined {% if 'mode' not in request.COOKIES or 'mode' in request.COOKIES and request.COOKIES.mode != 'dark' %} active-icon {% endif %}">light_mode</span></a>
                    <a href="{% url 'main:mode_view' 'dark' %}?next={{request.path}}" class="nav-link"><span class="material-symbols-outlined {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} active-icon {% endif %}">dark_mode</span></a>
                  </div>
                </li>
              </ul>
</div>


            </div>
            {%else%}
            <a href="{% url 'account:log_in'%}"
                class="text-white bg-[#ED786A] hover:bg-[#f05e4e] rounded-full cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 py-3 px-6 text-sm"
              >
                تسجيل دخول 
              </a>
            {%endif%}
            </div>
            <!-- Cart Button -->
            {% block cart_items %}
              <div class="flex items-center lg:space-x-2">
                <button 
                  id="myCartDropdownButton1"
                  data-dropdown-toggle="myCartDropdown1"
                  type="button"
                  class="relative z-10 flex items-center p-2 text-black bg-gray-100 border border-transparent rounded-full hover:text-gray-700 focus:outline-none focus:text-gray-700">
                  <span class="absolute top-0 right-0 px-2.5 py-1  ml-2  text-xs font-bold leading-none text-white transform translate-x-1/2 -translate-y-1/2 bg-[#ED786A] rounded-full">{{count_item}} </span>
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                  </svg>
                </button>
                <div
                  id="myCartDropdown1"
                  class="hidden z-10  bg-white mx-auto max-w-sm space-y-4 overflow-hidden rounded-lg p-4 antialiased shadow-lg "
                >
                  {% if carts %} {% for enrollment in enrollments %}
                  <div class="flex flex-row items-center">
                    <div class="ml-5 w-16 h-16 mx-auto border border-gray-200 rounded-md">
                        <img class="object-cover w-full h-full rounded-md" src="{{ enrollment.program.programimage_set.first.image.url }}" alt="A beautiful and stylish red dress with a floral print, perfect for a summer day or a night out.">
                      </div>
                    <div class="flex flex-col">
                      <a
                        href="{% url 'main:program_detail_view' enrollment.program.id%}"
                        class="truncate pb-4 text-sm font-semibold leading-none text-black-900 hover:underline"
                        >{{ enrollment.program.program_name }}</a
                      >
                      <p> الأسم: {{enrollment.first_name}} {{enrollment.last_name}} </p>
                      <p>رقم الهوية: {{enrollment.id_number}} </p>
                    </div>
                    <div class="flex items-center justify-end gap-6">
                      <p
                        class="text-sm font-normal leading-none text-gray-500 light:text-gray-400"
                      >
                        SR
                        {{ enrollment.program.fees }}
                      </p>
                      <button
                        data-tooltip-target="tooltipRemoveItem1a"
                        type="button"
                        class="text-red-600 hover:text-red-700 light:text-red-500 light:hover:text-red-600"
                      >
                        <span class="sr-only"> Remove </span>
                        <svg
                          class="h-4 w-4"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </button>
                      <div
                        id="tooltipRemoveItem1a"
                        role="tooltip"
                        class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 light:bg-gray-700"
                      >
                        Remove item
                        <div class="tooltip-arrow" data-popper-arrow></div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                <hr class="border-gray-400" >
                  <p>مجموع السلة: {{ total_fees }} SR</p>
                  <a
                    href="{% url 'cart:cart_summary_view' carts.id%}"
                    title=""
                    class="mb-2 me-2 inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-semibold text-center text-white bg-[#ED786A] hover:bg-[#f05e4e]"
                    role="button"
                  >
                    إتمام عملية الشراء
                  </a>
                  {% else %}
                  <p>السلة فارغة</p>
                  {% endif %}
                </div>

                <ul>
                  <li>
                    <div class="flex items-center gap-1 px-4">    
                      <a href="{% url 'main:mode_view' 'light' %}?next={{request.path}}" class="nav-link px-1"><span class="material-symbols-outlined {% if 'mode' not in request.COOKIES or 'mode' in request.COOKIES and request.COOKIES.mode != 'dark' %} active-icon {% endif %}">light_mode</span></a>
                      <a href="{% url 'main:mode_view' 'dark' %}?next={{request.path}}" class="nav-link px-1"><span class="material-symbols-outlined {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} active-icon {% endif %}">dark_mode</span></a>
                    </div>
                  </li>
                </ul>
            </div>
            
            {% endblock%}        
        </div>
      </div>
</nav>

{% block content %}

{% endblock %}





<footer class="w-full bg-gray-100 bottom-0">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="#" class="flex items-center">
                <img src="/media/logos/NLogo.png" class="h-8 me-3" alt="Nashaa Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">روابط مهمة</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <a href="{% url 'main:home_view' %}" class="hover:underline">الرئيسية</a>
                    </li>
                    <li class="mb-2">
                        <a href="{% url 'main:programs_view' %}" class="hover:underline">البرامج</a>
                    </li>
                    <li class="mb-2">
                      <a href="{% url 'contactUs:customer_query_view' %}" class="hover:underline">تواصل معنا</a>
                  </li>
                  <li class="mb-2">
                    <a href="#" class="hover:underline">من نحن</a>
                </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">تابعنا</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <a href="#" class="hover:underline ">انستغرام</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="hover:underline">تويتر</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">مصادر مهمة</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <a href="#" class="hover:underline">الخصوصية</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="hover:underline">الشروط والأحكام</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-black sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"><a href="https://flowbite.com/" class="hover:underline">نشـ ء™</a>. جميع الحقوق محفوظة © 2024 .
        </span>
        <div class="flex mt-4 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                      <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                  </svg>
                <span class="sr-only">Facebook page</span>
            </a>
            
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                  <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
              </svg>
                <span class="sr-only">Twitter page</span>
            </a>
            
            
        </div>
    </div>
  </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</body>
</html>