{% extends 'base.html' %} {% block title %} الرئيسية {% endblock %} 

{% block content %}
<section
  class="pt-8 lg:pt-32 h-screen bg-gradient-to-br from-orange-50 to-white bg-white bg-center bg-cover"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative text-center">
    <h1
      class="max-w-2xl mx-auto text-center font-manrope font-bold text-4xl text-gray-900 mb-5 md:text-5xl leading-[50px]"
    >
      <span class="text-[#ED786A]">نشـ ء </span>
      المنصة الأولى لجميع الاكاديميات و النوادي الرياضية
    </h1>
    <p
      class="max-w-sm mx-auto text-center text-base font-normal leading-7 text-gray-500 mb-9"
    >
      سجل معنا لتصفح الأكاديميات والنوادي الرياضية في منطقتك
    </p>
    <a
      href=""
      class="w-full md:w-auto mb-14 inline-flex items-center justify-center py-3 px-7 text-base font-semibold text-center text-white rounded-full transition-all duration-500 bg-[#ED786A] hover:bg-[#f05e4e]"
    >
      إنشاء حساب
    
    </a>
  </div>
</section>
<section class="g-gradient-to-br from-orange-50 to-white bg-white">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    {% for program in programs %}
    <a href="{%url 'main:program_detail_view' program.id %}">
      <div
        class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:scale-105"
      >
        {% with first_image=program.programimage_set.first %} {% if first_image %}
        <img
          src="{{ first_image.image.url }}"
          alt="{{ program.program_name }}"
          class="w-full h-48 object-contain"
        />
        {% else %}
        <div class="w-full h-48 bg-gray-200 flex items-center justify-center">
          No Image Available
        </div>
        {% endif %} {% endwith %}
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-2">{{program.program_name}}</h3>
          <p class="text-gray-700">سعر الأشتراك :{{program.fees}}</p>
          <p class="text-gray-700">
            :المدة {{program.start_date}} - {{program.end_date}}
          </p>
          <p class="text-gray-700">{{program.sport_category}}</p>
          <p class="text-red-700">
            ينتهي التسجيل :{{program.registration_end_date}}
          </p>
          <div class="mt-4">
            <button
              class="bg-indigo-500 hover:bg-indigo-600 text-white py-2 px-4 rounded-md transition-colors duration-300"
            >
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock %}
