{% extends 'base.html' %} {% block title %} الرئيسية {% endblock %} 

{% block content %}



<section
  class="pt-8 lg:pt-32 h-screen bg-gradient-to-br from-orange-50 to-white bg-white bg-center bg-cover"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative text-center">
    <h1
      class="max-w-2xl mx-auto text-center font-manrope font-bold text-4xl text-gray-900 mb-5 md:text-5xl leading-[50px]"
    >
      <span class="text-[#ED786A]"></span>
      المنصة الأولى لجميع 
      <br><br>
      الأكاديميات و الأندية الرياضية
    </h1>
    <br>
    <p
      class="max-w-lg mx-auto text-center text-base font-normal leading-7 text-gray-500 mb-9"
    >
      سجل معنا لتصفح الأكاديميات والأندية الرياضية في منطقتك
    </p>
    <a
      href=""
      class="w-full md:w-auto mb-14 inline-flex items-center justify-center py-3 px-7 text-base font-semibold text-center text-white rounded-full transition-all duration-500 bg-[#ED786A] hover:bg-[#f05e4e]"
    >
      إنشاء حساب
    
    </a>
  </div>
</section>

<div id="default-carousel" class="relative w-full z-10 mt-12" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden md:h-96">
       <!-- Item 1 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="/media/images/carousol1.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="/media/images/carousol2.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="/media/images/carousol3.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="/media/images/carousol4.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>



  <div class="bg-gray-700 text-white p-8">
    <h2 class="text-center text-3xl font-bold mb-8">أبرز العملاء</h2>
    <p class="text-center mb-16">من خلال تميزنا, تمكنا من خدمة الكثير من العملاء وقدمنا لهم منصة يديرون عليها جميع برامجمهم الرياضية, وتوفر عليهم الوقت والجهد</p>
    <div class="grid grid-cols-5 gap-4 py-10">
      <div class="flex justify-center items-center ">
        <img src="/media/logos/Noor.png" alt="Client 1 Logo" class="h-20">
      </div>
      <div class="flex justify-center items-center">
        <img src="/media/logos/ahli.png" alt="Client 2 Logo" class="h-20">
      </div>
      <div class="flex justify-center items-center">
        <img src="/media/logos/Nasr.png" alt="Client 3 Logo" class="h-20">
      </div>
      <div class="flex justify-center items-center">
        <img src="/media/logos/Ettifaq.png" alt="Client 4 Logo" class="h-20">
      </div>
      <div class="flex justify-center items-center">
        <img src="/media/logos/hilal.png" alt="Client 5 Logo" class="h-20">
      </div>
      </div>

      <div class="grid grid-cols-5 gap-4 py-10">
        <div class="flex justify-center items-center">
          <img src="/media/logos/Abha.png" alt="Client 1 Logo" class="h-20">
        </div>
        <div class="flex justify-center items-center">
          <img src="/media/logos/Fath.png" alt="Client 2 Logo" class="h-20">
        </div>
        <div class="flex justify-center items-center">
          <img src="/media/logos/Ittihad.png" alt="Client 3 Logo" class="h-20">
        </div>
        <div class="flex justify-center items-center">
          <img src="/media/logos/Me5wh.png" alt="Client 4 Logo" class="h-20">
        </div>
        <div class="flex justify-center items-center">
          <img src="/media/logos/Safa.png" alt="Client 5 Logo" class="h-20">
        </div>
        </div>

        <div class="grid grid-cols-5 gap-4 py-10">
          <div class="flex justify-center items-center">
            <img src="/media/logos/Khaleej.png" alt="Client 1 Logo" class="h-20">
          </div>
          <div class="flex justify-center items-center">
            <img src="/media/logos/Qadsiah.png" alt="Client 2 Logo" class="h-20">
          </div>
          <div class="flex justify-center items-center">
            <img src="/media/logos/Raed.png" alt="Client 3 Logo" class="h-20">
          </div>
          <div class="flex justify-center items-center">
            <img src="/media/logos/NLogo.png" alt="Client 4 Logo" class="h-20">
          </div>
          <div class="flex justify-center items-center">
            <img src="/media/logos/NLogo.png" alt="Client 5 Logo" class="h-20">
          </div>
          </div>
  </div>

  <div class="flex flex-row p-8 justify-center items-center">
    <div class="shadow-lg rounded-full w-56">
      <img src="/media/images/NashaaBG.jpg">
    </div>
    <div class="py-8">
      <div class="py-8 px-10">
        <div class="">
        <h1 class="font-bold">لماذا تختار نشـ ء؟</h1>
        <p>عند اختيار المنصة الأفضل لخدمة الأكاديميات الرياضية؛ عليك الاطلاع على آراء العملاء </p>
        <p>حتى لا تندم على الاختيار في المستقبل كذلك يمكنك زيارة مقر الشركة والتحدث مع فريق العمل وجها لوجه</p>
        <p>يمكن لعملائنا أن يناقشوا احتياجاتهم مع فريق العمل وذلك للحصول على أفضل نتيجة ترضي العميل وتحقق متطلباته.</p>
        <p>كذلك إذا لم يكن لدى العميل أي اقتراحات, سنقوم بعرض تجربتنا والفوائد من منصتنا.</p>
        </div>
      </div>
    </div>
  </div>



<!-- <section class="g-gradient-to-br from-orange-50 to-white bg-white">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    {% for program in programs %}
    <a href="{%url 'main:program_detail_view' program.id %}">
      <div
        class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:scale-105"
      >
        {% with first_image=program.programimage_set.first %} {% if first_image %}
        <img
          src="{{ first_image.image.url }}"
          alt="{{ program.program_name }}"
          class="w-full h-48 object-contain"
        />
        {% else %}
        <div class="w-full h-48 bg-gray-200 flex items-center justify-center">
          No Image Available
        </div>
        {% endif %} {% endwith %}
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-2">{{program.program_name}}</h3>
          <p class="text-gray-700">سعر الأشتراك :{{program.fees}}</p>
          <p class="text-gray-700">
            :المدة {{program.start_date}} - {{program.end_date}}
          </p>
          <p class="text-gray-700">{{program.sport_category}}</p>
          <p class="text-red-700">
            ينتهي التسجيل :{{program.registration_end_date}}
          </p>
          <div class="mt-4">
            <button
              class="bg-indigo-500 hover:bg-indigo-600 text-white py-2 px-4 rounded-md transition-colors duration-300"
            >
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    
  </div>
</section> -->

{% endblock %}
