    <div class="flex flex-wrap justify-center gap-10  mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative  ">
        {% for program in programs %}
    <div class="w-fit max-w-[17rem] hover:scale-105 duration-300 ease-linear bg-white border border-gray-200 rounded-lg shadow-md ">
        
        <div class="flex flex-row absolute z-40  justify-around px-2 items-center   mt-40 md:mt-1 mr-1 mb-5 bg-gray-100/60  rounded w-fit gap-1 ">
    
            <span class=" text-blue-800 text-xs font-semibold   rounded  order-2">{{ program.avg_rating }}</span>
            <svg width="12" height="12" viewBox="0 0 12 10" fill="#ffe700"  xmlns="http://www.w3.org/2000/svg"><path d="M6.25333 8.28568C6.09679 8.19352 5.90258 8.19352 5.74604 8.28568L3.31597 9.71618C2.93433 9.94084 2.47058 9.59509 2.57696 9.16519L3.22394 6.55064C3.27013 6.36399 3.20519 6.16739 3.05692 6.04497L0.955287 4.30981C0.608396 4.02341 0.786618 3.46036 1.23513 3.42573L4.03001 3.20991C4.21511 3.19561 4.37705 3.07994 4.4506 2.90948L5.5406 0.383314C5.71429 -0.0192352 6.28508 -0.019235 6.45877 0.383315L7.54877 2.90948C7.62232 3.07994 7.78426 3.19561 7.96936 3.2099L10.7647 3.42573C11.2132 3.46036 11.3914 4.02346 11.0445 4.30984L8.9425 6.04497C8.7942 6.16739 8.72924 6.36401 8.77543 6.55068L9.42241 9.16519C9.52879 9.59508 9.06504 9.94084 8.6834 9.71618L6.25333 8.28568Z"></path></svg>
        </div>
       
            <img class="rounded-t-lg pb-2  " src="https://images.pexels.com/photos/26546638/pexels-photo-26546638/free-photo-of-photo-of-boys-playing-soccer.jpeg" alt="product image" />
        
        
        <div class="px-5 pb-5">
            <div class="flex flex-row justify-between">
            <div class="flex flex-row   justify-around  items-center px-2  bg-blue-100/50  rounded w-fit gap-1 ">
    
                <a href="{% url 'academy:academies_profile_view' program.branch.academy.id %}" class=" text-blue-800 text-xs font-semibold cursor-pointer  rounded  order-2">{{program.branch.academy.academy_name}}</a>
                
            </div>
            
        </div>
    
            
                <div class="flex flex-row justify-between">
                    <a href="{% url 'academy:program_detail_view' program.id %}" class="self-start justify-self-start hover:underline"><h5 class="text-xl font-semibold tracking-tight text-gray-900 ">{{program.program_name}}</h5></a>
                <div class="flex flex-row   justify-around  items-center px-2  bg-blue-100/50  rounded w-fit gap-1 ">
    
                    <a  class=" text-blue-800 text-xs font-semibold cursor-pointer  rounded  order-2">{{program.branch.branch_city}}</a>
                    <span class="material-symbols-outlined text-[1rem] text-gray-500">
                        location_on
                        </span>
                </div>
            </div>
            
            <!-- <h5 class="text-sm font-semibold tracking-tight text-gray-500 ">{{program.sport_category}}</h5>  SPORT CATEGORY --> 
            <h5 class="text-sm font-semibold tracking-tight text-gray-500 ">يبدا {{program.start_date}}</h5>
            <h5 class="text-sm font-semibold tracking-tight text-gray-500 ">{{program.duration}} اسبوع</h5>
            <h5 class="text-sm font-semibold tracking-tight text-gray-500 ">{{program.max_age}}-{{program.min_age}} سنوات</h5>
            <h5 class="text-sm font-semibold tracking-tight text-red-500 ">ينتهي التسجيل : {{program.registration_end_date}}</h5>
     
            
            <div class="flex items-center justify-between pt-2">
                <span class="text-xl font-bold text-gray-900  ">    </span>
                <a href="#" class="text-white bg-indigo-300 hover:bg-indigo-800 duration-300 focus:ring-4 focus:outline-none focus:ring-indigo-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center ">سجل الان</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
 

