{% extends 'base.html' %}

{% block title %} تفاصيل البرنامج  {% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto pt-36 px-4 sm:px-6 lg:px-8">
<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
<div>
    <div class="slide">
            {% for image in image %}
                {% if image %}
                    <img src="{{ image.image.url }}" alt="{{ program.program_name }}">
                {% else %}
            <img alt="" class="w-full h-auto rounded-lg shadow-lg" src="https://placehold.co/600x400"/>
        {% endif %}
    {% endfor %}
    </div>
</div>
<div>
<h1 class="text-3xl font-bold mb-4">{{programs.program_name}} </h1>
<p class="text-gray-700 mb-6">
        {{programs.description}}
      </p>
<div class="mb-6">
<span class="text-2xl font-bold text-indigo-600">SR {{programs.fees}}</span>
<span class="text-gray-500 line-through ml-2">SR 129.99</span>
</div>
{% if request.user.is_authenticated %}
<a href="{% url 'enrollment:enroll_in_program_view' programs.id user.id  %}" class="bg-indigo-500 hover:bg-indigo-600 text-white py-3 px-6 rounded-md transition-colors duration-300">
        اشتراك
</a>
{%else%}
<a href="{% url 'account:log_in'  %}" class="bg-indigo-500 hover:bg-indigo-600 text-white py-3 px-6 rounded-md transition-colors duration-300">
    اشتراك
</a>

{%endif%}

</div>
</div>
<div class="mt-12">
<h2 class="text-2xl font-bold mb-4">تفاصيل البرنامج</h2>
<p class="text-gray-700 mb-6">
      نوع البرنامج: {{programs.sport_category}}
    </p>
<p class="text-gray-700 mb-6">
     عن البرنامج: {{programs.description}}
    </p>
<ul class="list-disc list-inside mb-6">
<li>مدة البرنامج: {{programs.start_date}} {{programs.end_date}}</li>
<li>العمر: {{programs.min_age}} {{programs.max_age}}</li>
<li>نهاية التسجيل: {{programs.registration_end_date}}</li>
<li>الإتاحة: {{programs.is_available}}</li>
<li>{{programs.is_active}}</li>
</ul>
</div>
</div>

{% endblock%}