{% extends 'base.html' %}

{% block content %}

<div class="" >
    <div class="flex justify-center  md:pt-40 mr-5">
        <h1 class="text-4xl self-start ">برامج الأكاديميات و الأندية الرياضية</h1>
    </div>
    
    <div>
        <form id="filter-form" class="max-w-md mx-auto mt-10" method="GET" action="">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" name="search" value="{{ request.GET.search }}" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search Mockups, Logos..." />
            </div>
            <div class="flex justify-center flex-wrap mt-3 gap-x-5 gap-y-0">
                <div class="mb-5 w-32">
                    <select id="price-filter" name="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">السعر</option>
                        {% for key, price_choice in price_choices %}
                        <option value="{{ key }}" {% if request.GET.price == key|stringformat:"s" %}selected{% endif %}>{{ price_choice }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-5 w-32">
                    <select id="age-filter" name="age" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">العمر</option>
                        {% for key, age_choice in age_choices %}
                        <option value="{{ key }}" {% if request.GET.age == key|stringformat:"s" %}selected{% endif %}>{{ age_choice }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-5 w-32">
                    <select id="length-filter" name="length" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">مدة البرنامج</option>
                        {% for key, length_choice in length_choices %}
                        <option value="{{ key }}" {% if request.GET.length == key|stringformat:"s" %}selected{% endif %}>{{ length_choice }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-5 w-32">
                    <select id="city-filter" name="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">المدينة</option>
                        {% for key , program in cities %}
                        <option value="{{ program }}" {% if request.GET.city == program  %}selected{% endif %}>{{ program }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-5 w-32">
                    <select id="category-filter" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">نوع البرنامج</option>
                        {% for key , program in sport_choices %}
                        <option value="{{ program }}" {% if request.GET.category == program %}selected{% endif %}>{{ program }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        
        </div>  <!-- end of form  -->
{% if programs %}
<div class="">

    {% include 'program_card2.html'%}
</div>
{% else %}
<div class="flex justify-center items-center">
<h3 class="text-zinc-400 text-2xl mt-5">لا يوجد برامج تطابق بحثك</h3>
</div>
{% endif %}
        </div>
        

            
        <script>
            // Function to handle form submission
            function handleFilterChange(event) {
                document.getElementById('filter-form').submit();
            }
        
            // Add event listeners to all select elements
            document.querySelectorAll('#filter-form select').forEach(selectElement => {
                selectElement.addEventListener('change', handleFilterChange);
            });
        </script>
            <!-- component -->
             
{% endblock %}